/bin
/build
/include
/lib
/local
/man
/share
/Scripts
.Python
*.pyc
*~
*.swp
*.sqlite3
.DS_Store
/.coverage
/.env
/.idea
/media
/staticfiles
/logs
!/logs/.dummy
/whoosh
.floo
.flooignore
/portal/dirf/pdf
!/portal/dirf/pdf/.dummy