# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.


Django==1.6.7
South==1.0
dj-database-url==0.3.0
Unipath==1.0
django-toolbelt==0.0.1
dj-static==0.0.6
static==1.1.0
pystache==0.5.4
python-decouple==2.3
django-mptt==0.6.1
pytz==2014.7
django-filer==0.9.7
gunicorn==19.1.1
psycopg2==2.5.4
sqlformatter==1.0
django-taggit==0.12.2
django-taggit-autosuggest==0.2.5
model-mommy==1.2.2
django-extensions==1.4.3
django-debug-toolbar==1.2.1
django-devserver==0.8.0
django-admin-sortable2==0.3.1
django-haystack==2.3.1
Whoosh==2.6.0
django-reversion==1.8.4
django-pure-pagination==0.2.1
python-ldap==2.4.18
