{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
    {% if not is_popup %}
        <p>
            {% trans "First, enter a username and password. Then, you'll be able to edit more user options." %}
        </p>
    {% else %}
        <p>{% trans "Enter a username and password." %}<a onclick="makeid()">GERAR SENHA ALEATÓRIA</a></p>
    {% endif %}
    <script>
        function makeid() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 15; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            document.getElementById("id_password1").value = text;
            document.getElementById("id_password2").value = text;
        }
    </script>
{% endblock %}

{% block field_sets %}
    {{ block.super }}
    <a href="javascript:makeid()">GERAR SENHA ALEATÓRIA</a>
{% endblock %}

{% block after_field_sets %}
    <script type="text/javascript">document.getElementById("id_username").focus();</script>

{% endblock %}