/* estrutura geral */
BODY{
    background:#ddd;
    font-family:Calibri,Verdana, Arial;
}
#palco{
    position:relative;
    width:950px;
    left:50%;
    top:-25px;
    margin-left:-475px;
    background:#ececfb;
}


#topo{
    display:block;
    background:#fff;
    width:100%;
    height:150px;
}
#topo #logo{
    float:left;
    width:230px;
    height:130px;
    margin-left:0;
    vertical-align: middle;
}
#topo #links{
    float:left;
    width:717px;
    height:100%;
    border-left:3px #999 solid;
}

#topo #links #diretos, #topo #links form, #topo #links #sociais, #topo #links #menus{
    display:block;
    height:28px;
    padding:2px;
}
#topo #links #diretos a{
    float:right;
    margin:2px;
    height:20px;
    font-size:20px;
    color:#cacad8;
    padding-right:5px;
    border-right:1px #cacad8 solid;
    text-decoration:none;
}
#topo #links form input{
    float:right;
    width:300px;
    height:25px;
    border:2px #cacad8 solid;
}
#topo #links #sociais a{
    float:right;
    text-decoration:none;
}
#topo #links #menus{
    border-top:3px #999 solid;
    position:relative;
    width:714px;
    padding:0;
    padding-left:4px;
    top:11px;
}
#topo #links #menus a{
    display:inline-block;
    height:40px;
    line-height:40px;
    border-right:3px #999 solid;
    margin:0;
    margin-left:-4px;
    padding: 0 5px 0 5px;
    font-family:Calibri;
    font-size:18px;
    color:#999;
    text-align:center;
    text-decoration:none;
}
#topo #links #menus a:hover{
    background:#ececfb;
    border-bottom:3px #95ca54 solid;
    color:#95ca54;
    height:38px;
}

#corpo{
    margin:2px;
    padding:5px;
}

#rodape{
    width:100%;
    height:250px;
    background:#479833;
    margin-top:-25px;
}
#rodape #mapa{
    position:relative;
    width:950px;
    height:250px;
    left:50%;
    top:0;
    margin-left:-475px;
}

.menu-icon{
    background:#2db200;
}
.off-canvas-wrap{
    margin:-6px;
}
#menu-lateral{
    background: #8fc74a;
    width:200px;
}
.left-off-canvas-menu ul{
    background:#8fc74a;
    list-style-type:none;
    margin-left:0px;
}
.off-canvas-list label{
    background:#2db200;
    color:#fff;
}
.off-canvas-list ul li, .off-canvas-list ul li a{
    padding:0;
    margin:0;
}
.off-canvas-list a:hover{
    background:#fff;
    color:#2db200;
}
#menu-icon{
    padding:5px;
    text-align:center;
}
#menu-icon a{
    display:inline-block;
    border:none;
}
#menu-icon a:hover{
    background:none;
}
#menu-lateral #menu{
    background:#479833;
    display:block;
    width:50px;
    height:40px;
}
#menu-lateral img{
    margin-left:8px;
    margin-top:8px;
}
.tab-bar-section{
    background:#8fc74a;
    border-color:#f60;
    width:110%;
    height:100%;
}
.tab-bar-section a{
    text-decoration:none;
    color:#fff;
}
.tab-bar-section a:hover{
    color:#2db200;
}