.temp-rodape {
    /*height: 20em;*/
    border: 0.3125em solid #80bf40;
}

input[type="text"], select, form {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

.verde-logo {
    /*color: #69B92D*/
    color: #8fc74a
}

.justificado {
    text-align: justify;
}

.espacamento-medio {
    line-height: 1.2em;
    margin-bottom: 0;
}

/*.espacamento-pequeno {*/
    /*line-height: 1.2;*/
    /*margin-bottom: 0;*/
/*}*/

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

#no-padding-bottom {
    padding-bottom: 0;
}

.margin-bottom {
    margin-bottom: 0.625em;
}

.padding-top-bottom {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.padding-top {
    padding-top: 0.625em;
}

.padding-bottom {
    padding-bottom: 0.625em;
}

.padding-bottom-small {
    padding-bottom: 0.3125em;
}

.padding-left {
    padding-left: 0.625em;
}

.padding-right {
    padding-right: 0.625em;
}

.padding-bottom-duplo {
    padding-bottom: 1.25em;
}

.padding-top-duplo {
    padding-top: 1.25em;
}

.padding-all {
    /*padding: 0.625em 0.625em 0.625em 0.625em;*/
    padding: 0.625em;
}

.padding-bottom-banner-destaque {
    padding-bottom: 0.9em;
}

.fundo-verde {
    background-color: #2db200;
    color: #FFFFFF;
    border-radius: 0.1em;
}

.fundo-vermelho {
    background-color: #DA251D;
    color: #FFFFFF;
    border-radius: 0.1em;
}
.vermelho{
    color: #DA251D;
}

.borda-esquerda {
    border-left: 0.675em solid #DA251D;
}

.fundo-cinza {
    background-color: #e4e4e4;
}

.fundo-cinza-claro {
    background-color: #f8f8f8;
}

.lupa {
    font-size: 1.8em;
}

.social {
    text-align: right;
}

.texto-tamanho-medio {
    font-size: 2em;
}

.texto-tamanho-pequeno-medio {
    font-size: 1.5em;
}

.texto-tamanho-pequeno {
    font-size: 0.9em;
}

.texto-tamanho-xsmall {
    font-size: 0.8em;
}

.alinhamento-direita {
    float: right;
}

.sem-marcador {
    list-style: none;
}

.sem-marcador li {
    display: inline;
}

#id_models {
    list-style: none;
}

#id_models li {
    display: inline;
}

#id_q {
    margin-bottom: 0;
}

.separador-direita {
    /*border-right: 0.0625em solid;*/
    padding-right: 0.625em;
}

.data-local {
    color: #DA251D;
}

.marcador-circulo {
    list-style-type: circle;
    margin-bottom: 0;
}

.marcador-circulo li {
    padding-bottom: 0.3125em;
}

.branco {
    color: white;
    text-decoration: none;
}

.link-branco a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.link-branco a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.link-branco a:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.link-branco a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.negrito {
    font-weight: bold;
}

.hover-cinza-medio div:hover {
    background-color: #d6d6d6;
}

.hover-cinza-claro:hover {
    background-color: #f8f8f8;
}

a[href*="/"]:after, a[href*="/"]:visited:after {content: normal;}

/*.fundo-verde:hover{*/
    /*background-color: #0b7e0a;*/
/*}*/

/*a {*/
    /*color: #1D83DA;*/
/*}*/

/*a:hover {*/
    /*color: #2A9E26;*/
/*}*/
/*a:focus {*/
    /*color: #1f5a1e;*/
/*}*/

/*cores da logo do IFMT:*/
/*vermelho: DA251D*/
/*verde: 69B92D*/