#conteudo{
    color:#333;
    font-size:16px;
    padding:25px;
}
#conteudo data{
    display:block;
}
#conteudo titulo{
    display:block;
    font-size:28px;
    padding:10px 0 10px 0;
}
#conteudo controle{
    display:block;
    padding:5px 0 10px 0;
}
#conteudo #texto{
    text-align:justify;
}
#conteudo #texto img{
    float:right;
    margin:5px;
}
#conteudo autor{
    display:block;
    text-align:right;
}
#conteudo relacionados{
    font-size:12px;
    display:block;
    margin:10px 0 20px 0;
    padding:5px;
    background:#ccc;
}
#conteudo relacionados div{
    display:inline-block;
    width:24%;
}
#conteudo relacionados p{
    font-weight:bold;
}
#conteudo relacionados a{
    display:block;
    text-decoration:none;
    color:#333;
}
#conteudo relacionados a:hover{
    text-decoration:underline;
}
#conteudo relacionados img{
    width:40px;
    height:30px;
    margin-right:3px;
}