#noticia{
    display:block;
    margin-left:43px;
    padding:25px;
    color:#333;
}
#noticia data{
    display:block;
    font-size:12px;
}
#noticia titulo{
    display:block;
    font-size:22px;
    margin:5px 0 5px 0;
}
#noticia controle{
    display:block;
    padding-left:8px;
}
#noticia controle rede-social img{
    margin:0;
    margin-left:-8px;
}
#noticia controle letra{
    display:float;
    margin-left:10px;
}
#noticia controle letra a{
    display:inline-block;
    padding:2px;
    text-decoration:none;
    color:#fff;
    background:#8fc74a;
    font-size:12px;
}
#noticia #texto{
    text-align:justify;
}
#noticia #texto iframe{
    width:100%;
    text-align:center;
}
#noticia #texto #galeria{
    display:block;
    width:100%;
    text-align:center;
}
#noticia #texto img{
    float:right;
    width:350px;
}


#noticia autor{
    display:block;
    text-align:right;
}


#noticia relacionados{
    display:block;
    background:#ccc;
    padding:5px;
}
#noticia relacionados div{
    display:inline-block;
    vertical-align:top;
    font-size:12px;
    width:24%;
    height:100%;
}
#noticia relacionados div p{
    margin:1px;
    padding:0;
    font-weight:bold;
}
#noticia relacionados div a{
    display:block;
    text-decoration:none;
    color:#333;
}
#noticia relacionados div a img{
    width:70px;
    height:50px;
    margin-right:3px;
    float:left;
}
#noticia relacionados div a:hover{
    text-decoration:underline;
}