p {
    text-align: justify;
}

p a {
    text-decoration: underline;
}

p.espacamento-triplo {
    line-height: 300%;
}

h1 {
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
}

.compartilhar {
    list-style: none;
}

.compartilhar li {
    display: inline;
    padding-right: 0.3em;
}

.th {
    margin: 0.25em 0.25em 0.25em 0.25em;
}

.alinhamento-vertical {
    vertical-align: middle;
}
