lista filtros{
    display:block;
    height:35px;
    margin:0;
    padding:0;
}
lista filtros a{
    float:left;
    width:100px;
    color:#333;
    padding:0;
    padding-top:10px;
    height:100%;
    width:120px;
    text-align:center;
    text-decoration:none;
}
lista filtros a:hover{
    background:#ccc;
    color:#fff;
}

lista filtros .menu{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    background:#ccc;
    color:#fff;
}

lista filtros .menu li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

lista filtros .menu li a{
    color:#333;
    text-decoration:none;
    display:block;
}

lista filtros .menu li a:hover{
    background:#ccc;
    color:#fff;
}

lista filtros .menu li   ul{
    position:absolute;
    top:100%;
    left:-20px;
    background-color:#fff;
    display:none;
}

lista filtros .menu li:hover ul, lista filtros .menu li.over ul{
    display:block;
}

lista filtros .menu li ul li{
    display:block;
}

lista table{
    width:100%;
    margin:0;
    padding:0;
}
lista table th{
    background:#ccc;
}
lista table .data{
    text-align:center;
}
lista table a{
    color:#666;
}
lista table tr:hover{
    background:#aaa;
}
lista table tr:hover a{
    color:#333;
}