/* Menu topo do Site */

#menus{
    border-top:3px #999 solid;
    margin:0;
    padding:0;
    margin-top:13px;
    font-size:18px;
    list-style:none;
}
#menus li {
    float: left;
    border-right:2px #999 solid;
}
    #menus li:hover {
			background: #4b545f;
			background: linear-gradient(top, #eee 0%, #ececfb 40%);
			background: -moz-linear-gradient(top, #eee 0%, #ececfb 40%);
			background: -webkit-linear-gradient(top, #eee 0%,#ececfb 40%);
		}
			#menus li:hover a {
				color: #333;
				border-bottom:2px #95ca54 solid;
			}

		#menus li a {
			display: block;
			padding: 2px 10px;
			color: #757575;
			text-decoration: none;
			border-bottom:2px #fff solid;
		}


/* cria box */
#conteniner-menus{
    position:absolute;
    margin-top:30px;
    background:#fff;
    border-top:5px #95ca54 solid;
    z-index:999999;
}
#conteniner-menus > ul{
    margin:0;
    float:left;
    list-style:none;
    padding:5px 0px 5px 10px;
}
#conteniner-menus > ul span{
    text-transform:uppercase;
    color:#ed3237;
}
#conteniner-menus > ul li a{
    display:block;
    padding:2px 5px 2px 10px;
    color:#95ca54;
}
#conteniner-menus > ul li a:hover{
    background:#fff;
}
#conteniner-menus #n1{
    background:#DEEFCA;
}
#conteniner-menus #n2 li{
    border-right:2px #95ca54 solid;
}

#conteniner-menus #n2 li a:hover{
    background:#DEEFCA;
}
#conteniner-menus #n3{
    padding-right:10px;
}
#conteniner-menus #n3 li a:hover{
    background:#DEEFCA;
}