/* Area de Destaque */
#quadro{
    width:600px;
    height:525px;
    float:left;
}
#quadro #principal{
    width:600px;
    height:450px;
}
#quadro #texto, #destaque #menu{
    background:#fff;
    height:70px;
    position:relative;
    font-size:22px;
    top:-75px;
}
#quadro #texto data{
    float:left;
    width:75px;
    padding:3px;
    height:64px;
    padding-top:7px;
    background:#ed3237;
    text-align:center;
    margin-right:3px;
    color:#fff;
}
#quadro #texto data dia{
    display:block;
    padding-bottom:3px;
    border-bottom:2px #fff solid;
}
#quadro #texto campus{
    display:block;
    color:#fcca00;
    font-size:12px;
    padding:1px;
}
#quadro #texto titulo{
    color:#2db200;
}
#quadro #menu {
    padding:5px;
    text-align:center;
}
#quadro #menu img{
    width:112px;
    height:68px;
    margin:-3px;
    padding:0;
    border:2px #ccc solid;
}
#quadro #menu img:hover{
    border:2px #2db200 solid;
}

/* Especial */
#especial{
    display:inline-block;
    margin-top:0;
    margin-left:10px;
    padding:5px;
    width:310px;
    height:365px;
    background:#fff;
}
#especial p{
    font-size:20px;
    color:#2db200;
    margin:0;
    padding:5px 0 5px 0;
}
#especial div{
    display:block;
    width:96%;
    height:100px;
    margin-top:5px;
    font-size:14px;
    color:#2db200;
    vertical-align:middle;
}
#especial div img{
    float:left;
    width:120px;
    height:90px;
    margin:5px;
}
#especial div .banner{
    width:100%;
    height:100%;
    margin-right:5px;
}
#exame_vestibular{
    display:inline-block;
    margin-top:5px;
    margin-left:10px;
    width:320px;
    height:148px;
}
#noticias{
    display:black;
    width:330px;
}
#noticias p{
    font-size:20px;
    color:#ed3237;
    margin:0;
    padding:5px 0 5px 0;
}
#noticias a{
    display:block;
    height:95px;
    margin:0;
    margin-top:5px;
    padding:5px;
    background:#fff;
    text-decoration:none;
}
#noticias a:hover{
    background:#eee;
}
#noticias p a{
    font-size:14px;
    color:#333;
    text-decoration:none;
    display:inline-block;
    height:auto;
    margin:0;
    padding:0;
    background:none;
}
#noticias p a:hover{
    background:none;
}
#noticias a img{
    width:100px;
    height:80px;
    float:left;
    margin-right:5px;
}
#noticias a data-local{
    font-size:12px;
    color:#2db200;
    display:block;
}
#noticias a titulo{
    font-size:16px;
    color:#888;
}


#guia{
    width:250px;
    margin-left:340px;
    margin-top:-910px;
    background:#2db200;
    padding:5px;
}
#guia p{
    font-size:20px;
    color:#ffbf12;
    margin:0;
    padding:5px 0 5px 0;
}
#guia label{
    display:block;
    font-size:14px;
    color:#fff;
}
#guia label select{
    display:block;
    width:90%;
}


#proreitorias-diretorias{
    width:310px;
    margin-left:610px;
    margin-top:-185px;
    background:#fff;
    padding:5px;
}

#proreitorias-diretorias p{
    font-size:20px;
    color:#ed3237;
    margin:1px;
    padding:5px 0 5px 0;
}
#proreitorias-diretorias a{
    text-decoration:none;
    color:#fdb430;
    font-size:12px;
    display:block;
}


#eventos{
    width:250px;
    margin-left:340px;
}
#eventos p{
    font-size:20px;
    color:#2db200;
    margin:0;
    padding:5px 0 5px 0;
}
#eventos a{
    display:block;
    width:100%;
    height:80px;
    margin:0;
    margin-top:5px;
    padding:5px;
    text-decoration:none;
}
#eventos a:hover{
    background:#fff;
}
#eventos p a{
    font-size:14px;
    color:#333;
    text-decoration:none;
    display:inline-block;
    width:50%;
    height:auto;
    margin:0;
    padding:0;
    background:none;
}
#eventos p a:hover{
    background:none;
}
#eventos a{
    text-decoration:none;
    color:#fdb430;
}
#eventos a img{
    width:100px;
    height:80px;
    float:left;
    margin-right:5px;
}
#eventos a campus{
    font-size:12px;
    color:#ed3237;
    display:block;
}
#eventos a data{
    float:left;
    width:55px;
    padding:3px;
    height:50px;
    padding-top:7px;
    background:#2db200;
    text-align:center;
    margin-right:3px;
    color:#fff;
}
#eventos a data dia{
    display:block;
    padding-bottom:3px;
    border-bottom:2px #fff solid;
}
#eventos a titulo{
    font-size:12px;
}


#acesso-rapido{
    width:250px;
    margin-left:340px;
}
#acesso-rapido p{
    font-size:20px;
    color:#2db200;
    margin:0;
    padding:5px 0 5px 0;
}
#acesso-rapido a{
    display:block;
    width:100%;
    height:55px;
    margin:0;
    margin-top:5px;
    padding:5px;
    text-decoration:none;
    background:#eee;
    color:#888;
}
#acesso-rapido a:hover{
    background:#2db200;
    color:#fff;
}
#acesso-rapido a img{
    float:left;
    width:80px;
    height:50px;
    margin:0;
    margin-right:5px;
}

#acesso-rapido a titulo{
    font-size:14px;
}


#midias{
    width:310px;
    margin-left:610px;
    margin-top:-700px;
    background:#2db200;
    padding:5px;
}

#midias p{
    font-size:20px;
    color:#fff;
    margin:0;
    padding:5px 0 5px 0;
}
#midias p a{
    font-size:14px;
    color:#333;
    text-decoration:none;
    display:inline-block;
    width:50%;
    height:auto;
    margin:0;
    padding:0;
    background:none;
}
#midias p a:hover{
    background:none;
}
#midias grande img{
    width:100%;
}
#midias grande data, #midias grande campus{
    font-size:12px;
    color:#fdb430;
}
#midias grande titulo{
    display:block;
    color:#fff;
}
#midias menu{
    padding:0;
    margin:0;
    margin-top:5px;
}
#midias menu img{
    border:1px #ccc solid;
    width:97px;
    height:60px;
}
#midias menu img:hover{
    border:1px #fff solid;
}