{% extends 'core/detalhe.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'listagrupodecursos' %}">Guia de Cursos</a></li>
    <li><a href="{% url 'listacursosdogrupo' curso.grupo.id %}">Cursos</a></li>
    <li class="current"><a href="{% url 'exibecurso' curso.id %}">{{ curso.nome|truncatewords:"3" }}</a></li>
{% endblock %}

{% block conteudo %}
    <div class="row padding-bottom">
        <div class="row">
            <h1 class="justificado" id="titulo">Curso: {{ curso.nome }}</h1>
        </div>
        <div class="row">
            {% autoescape off %}
                <article>
                    <p>Turno: {{ curso.get_turno_display }}</p>
                    <p>Contato: {{ curso.email }}</p>
                    <p>Site do curso: <a href="{{ curso.url }}">{{ curso.url }}</a></p>
                </article>
            {% endautoescape %}
        </div>
    </div>
{% endblock conteudo %}