{% extends 'core/lista.html' %}
{% block breadcrumbs %}
    <li><a href="{% url 'guiadecursoportal' %}">Guia de Cursos</a></li>
    <li class="current"><a href="#">Cursos</a></li>
{% endblock %}
{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">

            <div class="row padding-top-bottom">
                <h1>{{ grupo.nome }}</h1>
            </div>
            <div class="row padding-top-bottom">
                <h2>Cursos ofertados:</h2>
                {% for c in cursos %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{% url 'exibecurso' c.slug %}">
                                <div class="row">
                                    <div class="small-12 columns borda-esquerda">
                                        <p class="no-margin espacamento-medio">{{ c.nome }} - {{ c.campus }} -
                                            Formação: {{ c.formacao }} - Turno: {{ c.get_turno_display }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}