{% extends 'core/lista.html' %}
{% block content %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <p><h2>{{ grupo.nome }}</h2></p>
            {% if grupo.descricao|cut:" "|length > 1 %}
                <p>Descrição: {{ grupo.descricao }}</p>
                <hr />
            {% endif %}
            {% for c in cursos %}
                <p><a href="{% url 'exibecurso' c.id %}">{{ c.campus }} | {{ c.nome }} | Turno: {{ c.get_turno_display }}</a></p>
            {% endfor %}
            <hr />
        </div>
    </div>
{% endblock %}