{% extends 'core/lista.html' %}
{% block breadcrumbs %}
    <li><a href="{% url 'guiadecursoportal' %}">Guia de Cursos</a></li>
    <li class="current"><a href="{% url 'listacursosdogrupo' grupo.id %}">Cursos</a></li>
{% endblock %}
{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>{{ grupo.nome }}</h1>
            {% if grupo.descricao.strip|length > 0 %}
                {% autoescape off %}
                    <article><p>Descrição: {{ grupo.descricao|safe }}</p></article>
                {% endautoescape %}
                <hr />
            {% endif %}
            {% for c in cursos %}
                <p><a href="{% url 'exibecurso' c.id %}">{{ c.campus }} | {{ c.nome }} | Turno: {{ c.get_turno_display }}</a></p>
            {% endfor %}
            <hr />
        </div>
    </div>
{% endblock %}