{% extends 'core/lista.html' %}
{% block breadcrumbs %}
    <li class="current"><a href="{% url 'listagrupodecursos' %}">Guia de Cursos</a></li>
{% endblock %}
{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <form id="formuladio" name="formulario" method="post">{% csrf_token %}
                <div class="row fundo-cinza padding-all">
                    <div class="small-4 large-4 columns">
                        <label>Filtrar pela formação
                            <select id="filtroformacao" name="filtroformacao">
                                <option value="0">--------</option>
                                {% for f in formacao %}
                                    <option value="{{ f.formacao__id }}">{{ f.formacao__nome }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="small-4 large-4 columns">
                        <label>Filtrar pelo Câmpus
                            <select id="filtrocampi" name="filtrocampi">
                                <option value="0">--------</option>
                                {% for c in campi %}
                                    <option value="{{ c.campus__id }}">{{ c.campus__nome }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="small-4 large-4 columns">
                        <label>Filtrar pelo curso
                            <select id="filtrocursos" name="filtrocursos">
                                <option value="0">--------</option>
                                {% for g in grupo_cursos %}
                                    <option value="{{ g.grupo__id }}">{{ g.grupo__nome }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div id="resultado" class="small-12 columns hover-cinza-medio">
            {% if queryset %}
                {% for q in queryset %}
                    <div class="row padding-all">
                        <div class="small-4 large-4 columns">{{ q.formacao__nome }}</div>
                        <div class="small-4 large-4 columns">{{ q.campus__nome }}</div>
                        <div class="small-4 large-4 columns"><a href="{% url 'listacursosdogrupo' q.grupo__id %}">{{ q.grupo__nome }}</a></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr/>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#filtroformacao").change(function () {
                $.ajax({
                    url: '/jsonformacao/' + $(this).val() + '/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (json) {
                        var options = "";
                        $.each(json, function (key, obj) {
                            options += '<div class="row padding-all">';
                            options += '<div class="small-4 large-4 columns">' + obj.formacao_nome + '</div>';
                            options += '<div class="small-4 large-4 columns">' + obj.campus_nome + '</div>';
                            options += '<div class="small-4 large-4 columns"><a href="' + obj.grupo_url + '">' +
                                    obj.grupo_nome + '</a></div>';
                            options += '</div>';
                        });
                        $("#resultado").html(options);
                    },
                    error: function (xhr, errmsg, err) {
                        alert(xhr.status + ": " + xhr.responseText);
                    }
                });
                return false;
            });

            $("#filtrocampi").change(function () {
                $.ajax({
                    url: '/jsoncampi/' + $(this).val() + '/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (json) {
                        var options = "";
                        $.each(json, function (key, obj) {
                            options += '<div class="row padding-all">';
                            options += '<div class="small-4 large-4 columns">' + obj.formacao_nome + '</div>';
                            options += '<div class="small-4 large-4 columns">' + obj.campus_nome + '</div>';
                            options += '<div class="small-4 large-4 columns"><a href="' + obj.grupo_url + '">' +
                                    obj.grupo_nome + '</a></div>';
                            options += '</div>';
                        });
                        $("#resultado").html(options);
                    },
                    error: function (xhr, errmsg, err) {
                        alert(xhr.status + ": " + xhr.responseText);
                    }
                });
                return false;
            });

            $("#filtrocursos").change(function () {
                $.ajax({
                    url: '/jsoncursos/' + $(this).val() + '/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (json) {
                        var options = "";
                        $.each(json, function (key, obj) {
                            options += '<div class="row padding-all">';
                            options += '<div class="small-4 large-4 columns">' + obj.formacao_nome + '</div>';
                            options += '<div class="small-4 large-4 columns">' + obj.campus_nome + '</div>';
                            options += '<div class="small-4 large-4 columns"><a href="' + obj.grupo_url + '">' +
                                    obj.grupo_nome + '</a></div>';
                            options += '</div>';
                        });
                        $("#resultado").html(options);
                    },
                    error: function (xhr, errmsg, err) {
                        alert(xhr.status + ": " + xhr.responseText);
                    }
                });
                return false;
            });

        });
    </script>
{% endblock %}
