{% extends 'core/detalhe.html' %}
{% load thumbnail %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'conteudo:eventos_lista' %}">Eventos</a></li>
    <li class="current"><a href="#">{{ evento.titulo|truncatewords:"4" }}</a></li>
{% endblock %}

{% block edicao %}
    {% if user.is_authenticated %}
        {% if perms.conteudo.change_evento %}
            {% load permissao_tags %}
            {% if user|tem_permissao:evento %}
                <div class="row padding-top">
                    <div class="medium-12 columns text-right">
                        <a href="{% url 'admin:conteudo_evento_change' evento.id %}">
                            <i class="fi-page-edit"></i> Editar evento
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock edicao %}

{% block conteudo %}
    <div class="row padding-bottom">
    <div class="row">
        {% if not evento.esta_publicado %}
            <div class="row">
                <h2 class="vermelho padding-top-bottom text-center">
                    NÃO PUBLICADO - DATA DE PUBLICAÇÃO: {{ evento.data_publicacao }}
                </h2>
            </div>
        {% endif %}
        <h1 class="justificado" id="titulo">{{ evento.titulo }}</h1>

        <div class="row padding-bottom">
            <div class="medium-6 columns fundo-verde">
                <p class="text-center no-margin padding-top-bottom">Início: {{ evento.data_inicio }}</p>
            </div>

            <div class="medium-6 columns fundo-vermelho">
                <p class="text-center no-margin padding-top-bottom">Término: {{ evento.data_fim }}</p>
            </div>
        </div>

        <p class="padding-top-bottom texto-tamanho-pequeno">Publicado em: {{ evento.campus_origem }} /
            Local do evento: {{ evento.local }}</p>

    </div>
    <div class="row">
        {% if evento.imagens %}
            <div class="medium-10 columns no-padding">
        {% else %}
            <div class="medium-12 columns no-padding">
        {% endif %}

        <article>
            {{ evento.texto|safe }}
        </article>

        </div>
        {% if evento.imagens %}
            <div class="medium-2 columns">
                <div class="row">
                    <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-1" id="links">
                        {% for imagem in evento.imagens %}
                            <li>
                                <a class="th" href="{% thumbnail imagem.arquivo 1000x800 upscale quality=80 %}"
                                   title="{{ imagem.descricao }}">
                                    <img src="{% thumbnail imagem.arquivo 200x200 crop quality=80 %}"
                                         alt="{{ imagem.descricao }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

    {% if evento.tags.all %}
        <div class="row collapse padding-bottom-duplo">
            <div class="small-12 columns">
                <ul class="sem-marcador no-margin">
                    <li class="padding-right">Marcadores:</li>
                    {% for tag in evento.tags.all %}
                        <li class="padding-all fundo-cinza"><a
                                href="{% url 'conteudo:tags_lista' slug=tag.slug %}">{{ tag.slug }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="medium-4 columns">
            {% if evento.documentos %}
                <h2 class="fundo-vermelho text-center">Arquivos relacionados</h2>
                {% for documento in evento.documentos %}
                    <div class="row padding-bottom">
                        <a href="{{ documento.arquivo.url }}" target="_blank"><i
                                class="fi-download texto-tamanho-medio alinhamento-vertical">
                        </i>{{ documento.descricao }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if evento.galerias.all %}
                <h2 class="fundo-vermelho text-center">Galerias relacionados</h2>
                {% for galeria in evento.galerias.all %}
                    <div class="row padding-bottom">
                        <a href="{{ galeria.get_absolute_url }}" target="_blank"><i
                                class="fi-photo texto-tamanho-medio alinhamento-vertical">
                        </i>{{ galeria.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if evento.videos.all %}
                <h2 class="fundo-vermelho text-center">Vídeos relacionados</h2>
                {% for video in evento.videos.all %}
                    <div class="row padding-bottom">
                        <a href="{{ video.get_absolute_url }}" target="_blank"><i
                                class="fi-play-video texto-tamanho-medio alinhamento-vertical">
                        </i>{{ video.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

{% endblock conteudo %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/blueimp-gallery.min.js"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock %}