{% extends 'core/lista.html' %}
{% load thumbnail %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:eventos_lista' %}">Eventos</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>EVENTOS</h1>

            <div class="row">
                {% for evento in eventos.object_list %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ evento.get_absolute_url }}">
                                <div class="row">
                                    <div class="small-2 medium-1 columns no-padding">
                                        <p class="padding-top-bottom fundo-verde no-margin espacamento-medio text-center">
                                            {{ evento.data_inicio|date:"d M" }}
                                            {{ evento.data_inicio|date:"Y" }}
                                        </p>
                                    </div>
                                    <div class="small-2 medium-1 columns no-padding">
                                        <p class="padding-top-bottom fundo-vermelho no-margin espacamento-medio text-center">
                                            {{ evento.data_fim|date:"d M" }}
                                            {{ evento.data_fim|date:"Y" }}
                                        </p>
                                    </div>

                                    <div class="small-8 medium-10 columns">
                                        <div class="data-local texto-tamanho-xsmall">{{ evento.campus_origem.nome }}</div>
                                        <p class="no-margin espacamento-medio">{{ evento.titulo }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination" >
            {% if eventos_obj.has_previous %}
                <li class="arrow unavailable" aria-disabled="true">
                    <a href="?{{ eventos_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;
                                {% trans "previous" %}
                    </a>
                </li>
            {% endif %}
            {% for page in eventos_obj.pages %}
                {% if page %}
                    {% ifequal page eventos_obj.number %}
                            <span class="current page"><a href="">{{ page }}</a></span>
                    {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="unavailable" aria-disabled="true"><a href=""></a>&hellip;</li>
                {% endif %}
            {% endfor %}
                    {% if eventos_obj.has_next %}
                        <li>
                            <a href="?{{ eventos_obj.next_page_number.querystring }}" class="next">
                            {% trans "next" %} &rsaquo;&rsaquo;
                            </a>
                        </li>
                {% endif %}
            {{ eventos.render }}
        </ul>
    </div>
    {#Fim da paginação#}
{% endblock %}