{% extends 'core/lista.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:galerias_lista' %}">Galerias</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>GALERIAS</h1>

            <div class="row">
                {% for galeria in galerias %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ galeria.get_absolute_url }}">
                                <div class="row">

                                    <div class="small-2 medium-1 columns no-padding">
                                        {% if galeria.primeira_imagem %}
                                            <img
                                                    src="{% thumbnail galeria.primeira_imagem 200x200 crop quality=80 %}"
                                                    alt="{{ galeria.titulo }}">
                                        {% endif %}
                                    </div>

                                    <div class="small-10 medium-11 columns">
                                        <div class="data-local">{{ galeria.data_publicacao|date:"d M" }}
                                            - {{ galeria.get_campus_origem_display }}</div>
                                        <p class="no-margin espacamento-medio">{{ galeria.titulo }}</p>
                                    </div>
                                    {#                                        {% else %}#}
                                    {#                                            <div class="small-12 columns no-padding padding-left">#}
                                    {#                                                <div class="data-local">{{ noticia.data_publicacao|date:"d M" }}#}
                                    {#                                                    - {{ noticia.get_campus_origem_display }}</div>#}
                                    {#                                                <p class="no-margin espacamento-medio">{{ noticia.titulo }}</p>#}
                                    {#                                            </div>#}

                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    <div class="pagination-centered">
        <ul class="pagination">
            {% if galerias.has_previous %}
                <li class="arrow"><a href="?page={{ galerias.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            <li class="current"><a href="">Página {{ galerias.number }} de {{ galerias.paginator.num_pages }}</a></li>

            {% if galerias.has_next %}
                <li class="arrow"><a href="?page={{ galerias.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    {#Fim da paginação#}
{% endblock %}