{% extends 'core/detalhe.html' %}
{% load thumbnail %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'conteudo:galerias_lista' %}">Galeria</a></li>
    <li class="current"><a href="#">{{ galeria.titulo|truncatewords:"3" }}</a></li>
{% endblock %}

{% block edicao %}
    {% if user.is_authenticated %}
        {% if perms.conteudo.change_galeria %}
            {% load permissao_tags %}
            {% if user|tem_permissao:galeria %}
                <div class="row padding-top">
                    <div class="medium-12 columns text-right">
                        <a href="{% url 'admin:conteudo_galeria_change' galeria.id %}">
                            <i class="fi-page-edit"></i> Editar galeria
                        </a>
                        {% load contador_tags %}
                        / Visualizações: {% contador %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock edicao %}

{% block conteudo %}
    <div class="row padding-bottom">
        {% if not galeria.esta_publicado %}
            <div class="row">
                <h2 class="vermelho padding-top-bottom text-center">
                    NÃO PUBLICADO - DATA DE PUBLICAÇÃO: {{ galeria.data_publicacao }}
                </h2>
            </div>
        {% endif %}
        <div class="row">
            <h1 class="justificado" id="titulo">{{ galeria.titulo }}</h1>

            <p class="padding-top-bottom texto-tamanho-pequeno">Publicado em: {{ galeria.campus_origem }} /
                {{ galeria.data_publicacao }}</p>
        </div>
        <div class="row">
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-6" id="links">
                {% for imagem in galeria.imagens %}
                    <li>
                        <a class="th" href="{% thumbnail imagem.imagem 1000x800 upscale quality=80 %}"
                           title="{{ imagem.descricao }}">
                            <img src="{% thumbnail imagem.imagem 300x300 crop quality=80 %}"
                                 alt="{{ imagem.descricao }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% autoescape off %}
                <article>
                    {{ galeria.texto|safe }}
                    {% if galeria.campus_origem.site %}
                        Site de origem: {{ galeria.campus_origem.site }}
                    {% endif %}
                </article>
            {% endautoescape %}

        </div>
    </div>

    {% if galeria.tags.all %}
        <div class="row collapse padding-bottom-duplo">
            <div class="small-12 columns">
                <ul class="sem-marcador no-margin">
                    <li class="padding-right">Marcadores:</li>
                    {% for tag in galeria.tags.all %}
                        <li class="padding-all fundo-cinza"><a
                                href="{% url 'conteudo:tags_lista' slug=tag.slug %}">{{ tag.slug }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="medium-4 columns">
            {% if galeria.documentos %}
                <h2 class="fundo-vermelho text-center">Arquivos relacionados</h2>
                {% for documento in galeria.documentos %}
                    <div class="row padding-bottom">
                        <a href="{{ documento.arquivo.url }}" target="_blank"><i
                                class="fi-download texto-tamanho-medio alinhamento-vertical">
                        </i>{{ documento.descricao }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if galeria.galerias.all %}
                <h2 class="fundo-vermelho text-center">Galerias relacionados</h2>
                {% for galeria in galeria.galerias.all %}
                    <div class="row padding-bottom">
                        <a href="{{ galeria.get_absolute_url }}" target="_blank"><i
                                class="fi-photo texto-tamanho-medio alinhamento-vertical">
                        </i>{{ galeria.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if galeria.videos.all %}
                <h2 class="fundo-vermelho text-center">Vídeos relacionados</h2>
                {% for video in galeria.videos.all %}
                    <div class="row padding-bottom">
                        <a href="{{ video.get_absolute_url }}" target="_blank"><i
                                class="fi-play-video texto-tamanho-medio alinhamento-vertical">
                        </i>{{ video.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

{% endblock conteudo %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/blueimp-gallery.min.js"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock %}