{% extends 'core/detalhe.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li><a href="{% url 'conteudo:galerias_lista' %}">Galeria</a></li>
    <li class="current"><a href="#">{{ galeria.titulo|truncatewords:"4" }}</a></li>
{% endblock %}

{% if user.is_authenticated %}
    <div class="row padding-top">
        <div class="medium-12 columns text-right">
            <a href="{% url 'admin:conteudo_noticia_change' noticia.id %}" target="_blank">
                <i class="fi-page-edit"></i> Editar galeria
            </a>
        </div>
    </div>
{% endif %}

{% block conteudo %}
    <div class="row padding-bottom">
        <div class="row">
            <h1 class="justificado" id="titulo">{{ galeria.titulo }}</h1>

            <p class="padding-top-bottom">{{ galeria.data_publicacao }}</p>
        </div>
        <div class="row">
            <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-6" data-clearing>
                {% for imagem in galeria.imagens %}
                    <li><a class="th" href="{% thumbnail imagem.imagem 1000x800 upscale quality=100 %}"><img src="{% thumbnail imagem.imagem 300x300 upscale quality=80 %}" data-caption="{{ imagem.descricao }}"/></a></li>
                {% endfor %}
            </ul>
            {% autoescape off %}
                <article>
                    {{ galeria.texto }}
                </article>
            {% endautoescape %}

            <p>{{ galeria.fonte }}</p>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            {% if galeria.documentos %}
                <h2 class="fundo-vermelho padding-top-bottom text-center">Arquivos relacionados</h2>
                {% for documento in galeria.documentos %}
                    <div class="row padding-bottom">
                        <a href="{{ documento.arquivo.url }}" target="_blank"><i
                                class="fi-download texto-tamanho-medio alinhamento-vertical">
                        </i>{{ documento.descricao }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if galeria.galerias.all %}
                <h2 class="fundo-vermelho padding-top-bottom text-center">Galerias relacionados</h2>
                {% for galeria in galeria.galerias.all %}
                    <div class="row padding-bottom">
                        <a href="{{ galeria.get_absolute_url }}" target="_blank"><i
                                class="fi-photo texto-tamanho-medio alinhamento-vertical">
                        </i>{{ galeria.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="medium-4 columns">
            {% if galeria.videos.all %}
                <h2 class="fundo-vermelho padding-top-bottom text-center">Vídeos relacionados</h2>
                {% for video in galeria.videos.all %}
                    <div class="row padding-bottom">
                        <a href="{{ video.get_absolute_url }}" target="_blank"><i
                                class="fi-play-video texto-tamanho-medio alinhamento-vertical">
                        </i>{{ video.titulo }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock conteudo %}