{% extends 'core/lista.html' %}
{% load thumbnail %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:galerias_lista' %}">Galerias</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>GALERIAS</h1>

            <div class="row">
                {% for galeria in galerias.object_list %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ galeria.get_absolute_url }}">
                                <div class="row">

                                    <div class="small-2 medium-1 columns no-padding">
                                        {% if galeria.primeira_imagem %}
                                            <img
                                                    src="{% thumbnail galeria.primeira_imagem 200x200 crop quality=80 %}"
                                                    alt="{{ galeria.titulo }}">
                                        {% endif %}
                                    </div>

                                    <div class="small-10 medium-11 columns">
                                        <div class="data-local texto-tamanho-xsmall">{{ galeria.data_publicacao|date:"d M" }}
                                            - {{ galeria.campus_origem.nome }}</div>
                                        <p class="no-margin espacamento-medio">{{ galeria.titulo }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination" >
                {% if galerias_obj.has_previous %}
                    <li class="arrow unavailable" aria-disabled="true">
                            <a href="?{{ galerias_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;
                                {% trans "previous" %}
                            </a>
                    </li>
                    {% endif %}
                    {% for page in galerias_obj.pages %}
                        {% if page %}
                            {% ifequal page galerias_obj.number %}
                                <span class="current page"><a href="">{{ page }}</a></span>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="unavailable" aria-disabled="true"><a href=""></a>&hellip;</li>
                        {% endif %}
                    {% endfor %}
                    {% if galerias_obj.has_next %}
                        <li>
                            <a href="?{{ galerias_obj.next_page_number.querystring }}" class="next">
                            {% trans "next" %} &rsaquo;&rsaquo;
                            </a>
                        </li>
                    {% endif %}

            {{ galerias.render }}
        </ul>
    </div>

    {#Fim da paginação#}
{% endblock %}