{% extends 'core/lista.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li><a href="{% url 'conteudo:licitacoes_modalidades' %}">Modalidades de Licitação</a></li>
    <li class="current"><a href="#">Licitações</a></li>
{% endblock %}
{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>LICITAÇÕES{% if ano %} DE {{ ano }}{% endif %}</h1>
            <div class="row padding-top-bottom">
                {% if anos %}
                    Licitações do ano:
                    {% for a in anos %}
                        {% if a|date:"Y" != ano %}
                            <span class="round radius label link-branco"><a href="{% url 'conteudo:licitacoes_ano' modalidade a|date:"Y" %}">{{ a|date:"Y" }}</a></span>
                        {% else %}
                            <span class="round secondary label">{{ a|date:"Y" }}</span>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="row padding-top-bottom">
                {% endif %}
                {% if licitacoes %}
                    {% for licitacao in licitacoes %}
                        <div class="row padding-bottom-duplo">
                            <div class="row hover-cinza-claro">
                                <a href="{% url 'conteudo:licitacao_detalhe' licitacao.id %}">
                                    <div class="row">
                                        <div class="small-2 medium-1 columns no-padding">
                                            {% if not licitacao.encerrado %}
                                                <p class="padding-top-bottom fundo-verde no-margin espacamento-medio text-center" title="Agendada/Em andamento">
                                            {% else %}
                                                <p class="padding-top-bottom fundo-cinza no-margin espacamento-medio text-center" title="Encerrada">
                                            {% endif %}
                                                {{ licitacao.data_publicacao|date:"d M" }}
                                            </p>
                                        </div>

                                        <div class="small-10 medium-11 columns">
                                            <div class="data-local">
                                                {{ licitacao.get_campus_origem_display }}</div>
                                            <p class="no-margin espacamento-medio">{{ licitacao.titulo }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="padding-top-bottom fundo-vermelho no-margin espacamento-medio text-center">Registro não encontrado.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    {% if licitacoes.paginator.num_pages > 1 %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if licitacoes.has_previous %}
                    <li class="arrow"><a href="?page={{ licitacoes.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li class="current"><a href="">Página {{ licitacoes.number }} de {{ licitacoes.paginator.num_pages }}</a>
                </li>
                {% if licitacoes.has_next %}
                    <li class="arrow"><a href="?page={{ licitacoes.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {#Fim da paginação#}
{% endblock %}