{% extends 'core/lista.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:licitacoes_lista' %}">Licitacoes</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>LICITAÇÕES</h1>

            <div class="row">
                {% for licitacao in licitacoes %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{% url 'conteudo:licitacao_detalhe' licitacao.id %}">
                                <div class="row">
                                    <div class="small-2 medium-1 columns no-padding">
                                        <p class="padding-top-bottom fundo-verde no-margin espacamento-medio text-center">
                                            {{ licitacao.data_publicacao|date:"d M" }}
                                        </p>
                                    </div>

                                    <div class="small-10 medium-11 columns">
                                        <div class="data-local">
                                            {{ licitacao.get_campus_origem_display }}</div>
                                        <p class="no-margin espacamento-medio">{{ licitacao.titulo }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    {% if licitacoes.paginator.num_pages > 1 %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if licitacoes.has_previous %}
                    <li class="arrow"><a href="?page={{ licitacoes.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li class="current"><a href="">Página {{ licitacoes.number }} de {{ licitacoes.paginator.num_pages }}</a>
                </li>
                {% if licitacoes.has_next %}
                    <li class="arrow"><a href="?page={{ licitacoes.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {#Fim da paginação#}
{% endblock %}