{% extends 'core/lista.html' %}
{% load thumbnail %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:noticias_lista' %}">Notícias</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>NOTÍCIAS</h1>

            <div class="row">
                {% for noticia in noticias.object_list %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ noticia.get_absolute_url }}">
                                <div class="row">
                                    <div class="small-12 columns borda-esquerda">
                                        <div class="data-local texto-tamanho-xsmall">{{ noticia.data_publicacao|date:"d M" }}
                                            - {{ noticia.campus_origem.nome }}</div>
                                        <p class="no-margin espacamento-medio">{{ noticia.titulo }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            {% if noticias.has_previous %}
                <li class="arrow" aria-disabled="true">
                    <a href="?{{ noticias.previous_page_number.querystring }}">&laquo; Anterior</a>
                </li>
            {% endif %}
            {% for page in noticias.pages %}
                {% if page %}
                    {% ifequal page noticias.number %}
                        <li class="current"><a href="">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            {% if noticias.has_next %}
                <li class="arrow">
                    <a href="?{{ noticias.next_page_number.querystring }}" class="arrow">Próxima &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {#Fim da paginação#}
{% endblock %}