{% extends 'core/pagina.html' %}
{% load thumbnail %}
{% block conteudo %}
    <data>{{ noticia.data_publicacao }}</data>
    <titulo>{{ noticia.titulo }}</titulo>
    <controle>
        <rede-social>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/f_cubo_mini.png"/></a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png"/></a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/t_cubo_mini.png"/></a>
        </rede-social>
        <letra>
            <a href="">A+</a>
            <a href="">A-</a>
        </letra>
    </controle>
    <p id="texto">
        <!--
        Para noticias de Video
        <iframe width="640" height="480" src="//www.youtube.com/embed/RBMxHUCtqn0" frameborder="0" allowfullscreen></iframe>

        Para noticia de Galeria, essa imagem é só para ilustrar onde pode focar a grade da galeria ou a galeria em si.
        <img src="{{ STATIC_URL }}img/logo_ifmt.png" id="galeria" alt="IFMT">
        -->
        <!-- Para noticia de texto, essa imagem não aparece para os outros tipos -->
        {% for imagem in noticia.imagens %}
            <img src="{% thumbnail imagem.arquivo 100x100 upscale quality=80 %}" alt="{{ imagem.descricao }}"/>
        {% endfor %}
        {% autoescape off %}
            {{ noticia.texto }}
        {% endautoescape %}
    </p>
    <autor>Assessoria IFMT</autor>
    <relacionados>
        {% if noticia.documentos %}
            <div>
                <p>Arquivos Relacionados</p>
                {% for documento in noticia.documentos %}
                    <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <p>Galerias Relacionadas</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
        <div>
            <p>Videos Relacionados</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
        <div>
            <p>Tópicos Relacionados</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
    </relacionados>
{% endblock conteudo %}