{% extends 'core/detalhe.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li class="current"><a href="#">{{ pagina.titulo|truncatewords:"3" }}</a></li>
{% endblock %}

{% block edicao %}
    {% if user.is_authenticated %}
        {% if perms.conteudo.change_pagina %}
            {% load permissao_tags %}
            {% if user|tem_permissao:pagina %}
                <div class="row padding-top">
                    <div class="medium-12 columns text-right">
                        <a href="{% url 'admin:conteudo_pagina_change' pagina.id %}">
                            <i class="fi-page-edit"></i> Editar página
                        </a>
                        {% load contador_tags %}
                        / Visualizações: {% contador %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock edicao %}

{% block conteudo %}
    <div class="row padding-bottom" id="conteudo">
    <div class="row">
        {% if not pagina.esta_publicado %}
            <div class="row">
                <h2 class="vermelho padding-top-bottom text-center">
                    NÃO PUBLICADO - DATA DE PUBLICAÇÃO: {{ pagina.data_publicacao }}
                </h2>
            </div>
        {% endif %}
        <h1 id="titulo">{{ pagina.titulo }}</h1>
    </div>
    <div class="row">
        {% if pagina.imagens %}
            <div class="medium-10 columns no-padding">
        {% else %}
            <div class="medium-12 columns no-padding">
        {% endif %}

        {% autoescape off %}
            <article>
                {{ pagina.texto|safe }}
            </article>
        {% endautoescape %}

        </div>
        {% if pagina.imagens %}
            <div class="medium-2 columns">
                <div class="row">
                    <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-1" id="links">
                        {% for imagem in pagina.imagens %}
                            <li>
                                <a class="th" href="{% thumbnail imagem.arquivo 1000x800 upscale quality=80 %}"
                                   title="{{ imagem.descricao }}">
                                    <img src="{% thumbnail imagem.arquivo 200x200 crop quality=80 %}"
                                         alt="{{ imagem.descricao }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        </div>

        {% if pagina.tags.all %}
            <div class="row collapse padding-bottom-duplo">
                <div class="small-12 columns">
                    <p class="sem-marcador no-margin">
                        Marcadores:
                        {% for tag in pagina.tags.all %}
                            <a href="{% url 'conteudo:tags_lista' slug=tag.slug %}">
                                <span class="radius secondary label texto-tamanho-pequeno">{{ tag.slug }}</span></a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="row">
{#            <div class="medium-4 columns">#}
                {% if pagina.documentos %}
                    <h2 class="fundo-vermelho text-center">Arquivos relacionados</h2>
                    {% for documento in pagina.documentos %}
                        <div class="row padding-bottom">
                            <a href="{{ documento.arquivo.url }}" target="_blank"><i
                                    class="fi-download texto-tamanho-medio alinhamento-vertical">
                            </i>{{ documento.descricao }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
{#            </div>#}

{#            <div class="medium-4 columns">#}
                {% if pagina.galerias.all %}
                    <h2 class="fundo-vermelho text-center">Galerias relacionados</h2>
                    {% for galeria in pagina.galerias.all %}
                        <div class="row padding-bottom">
                            <a href="{{ galeria.get_absolute_url }}" target="_blank"><i
                                    class="fi-photo texto-tamanho-medio alinhamento-vertical">
                            </i>{{ galeria.titulo }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
{#            </div>#}

{#            <div class="medium-4 columns">#}
                {% if pagina.videos.all %}
                    <h2 class="fundo-vermelho text-center">Vídeos relacionados</h2>
                    {% for video in pagina.videos.all %}
                        <div class="row padding-bottom">
                            <a href="{{ video.get_absolute_url }}" target="_blank"><i
                                    class="fi-play-video texto-tamanho-medio alinhamento-vertical">
                            </i>{{ video.titulo }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
{#            </div>#}
        </div>

        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </div>

{% endblock conteudo %}
