{% extends 'core/lista.html' %}
{% load thumbnail %}

{% block breadcrumbs %}
    <li class="current">Tags</li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>Publicações com a tag: {{ slug }}</h1>

            <div class="row padding-top-duplo">
                {% for tag in tags %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ tag.content_object.get_absolute_url }}">
                                <div class="row">
                                    <div class="small-12 columns borda-esquerda">
                                        {{ tag.content_type.name }} - {{ tag.content_object.titulo }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    {% if tags.paginator.num_pages > 1 %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if tags.has_previous %}
                    <li class="arrow"><a href="?page={{ tags.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                <li class="current"><a href="">Página {{ tags.number }} de {{ tags.paginator.num_pages }}</a></li>

                {% if tags.has_next %}
                    <li class="arrow"><a href="?page={{ tags.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {#Fim da paginação#}
{% endblock %}