{% extends 'core/lista.html' %}
{% load thumbnail %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="current"><a href="{% url 'conteudo:galerias_lista' %}">Vídeos</a></li>
{% endblock %}

{% block listagem %}
    <div class="row padding-top-bottom">
        <div class="small-12 columns">
            <h1>VÍDEOS</h1>

            <div class="row">
                {% for video in videos.object_list %}
                    <div class="row padding-bottom-duplo">
                        <div class="row hover-cinza-claro">
                            <a href="{{ video.get_absolute_url }}">
                                <div class="row">
                                    <div class="small-2 medium-1 columns no-padding">
                                        <img src="{{ video.imagem_sddefault }}"
                                             alt="{{ video.titulo }}"/>
                                    </div>
                                    <div class="small-10 medium-11 columns">
                                        <div class="data-local texto-tamanho-xsmall">{{ video.data_publicacao|date:"d M" }}
                                            - {{ video.campus_origem.nome }}</div>
                                        <p class="no-margin espacamento-medio">{{ video.titulo }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block paginacao %}
    {#Início da paginação#}
    <div class="pagination-centered">
        <ul class="pagination" role="menubar" aria-label="Pagination" >
            {% if videos_obj.has_previous %}
                <li class="arrow unavailable" aria-disabled="true">
                    <a href="?{{ videos_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;
                                {% trans "previous" %}
                    </a>
                </li>
            {% endif %}
            {% for page in videos_obj.pages %}
                {% if page %}
                    {% ifequal page videos_obj.number %}
                            <span class="current page"><a href="">{{ page }}</a></span>
                    {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="unavailable" aria-disabled="true"><a href=""></a>&hellip;</li>
                {% endif %}
            {% endfor %}
                    {% if videos_obj.has_next %}
                        <li>
                            <a href="?{{ videos_obj.next_page_number.querystring }}" class="next">
                            {% trans "next" %} &rsaquo;&rsaquo;
                            </a>
                        </li>
                {% endif %}
            {{ videos.render }}
        </ul>
    </div>
    {#Fim da paginação#}
{% endblock %}