{% load mptt_tags %}
{% load thumbnail %}
<!DOCTYPE html> <!--[if IE 9]><html class="lt-ie10" lang="pt-br" > <![endif]-->
<html class="no-js" lang="pt-br">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation-ifmt.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation-icons/foundation-icons.css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

    {#Bloco para estilos personalizados para templates específicos#}
    {% block stylesheet %}
    {% endblock %}

    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    <style>
        .clear { clear: both; }
        body {
            background-image: url({% thumbnail background 3840x2160 as thumb %}{{thumb.url}});
            background-repeat: no-repeat;
            background-color: #EEE;
            background-size: 100%;
        }
    </style>
</head>
<body> <!-- body content here -->
{#Container geral do portal#}
<iframe src="{{ STATIC_URL }}html/barra_brasil.html" width="100%" height="33px" frameborder="0" scrolling="no"><img src="{{ STATIC_URL }}img/topo-ifmt.png" alt="Barra do IFMT"></iframe>
<div style="display: block; position: relative; top: -8px; width: 100%; background-image: url('{{ STATIC_URL }}img/topo-bg.png'); background-repeat: repeat-x;">
    <div class="row">
        <div class="small-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2">
                <img src="{{ STATIC_URL }}img/topo-ifmt.png" alt="Barra do IFMT">
            </ul>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>

{% for banner in banners %}
    <div class="expanded column row right">
        &nbsp;
    </div>
    <div class="expanded column row right">
        <a href="{{ banner.url }}" {% if banner.nova_janela %}target="_blank"{% endif %}>
            <img src="{% thumbnail banner.arquivo 300x0 upscale quality=80 %}"
                 title="{{ banner.titulo }}" class="right"/>
        </a>
    </div>
{% endfor %}

<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
<script> $(document).foundation(); </script>

{#Bloco para javascript personalizado para templates específicos#}
{% block javascript %}
{% endblock %}

</body>
</html>
