{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Portal IFMT:: </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/portal.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/noticia.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="palco">

        <div id="topo">
            <img src="{{ STATIC_URL }}img/logo_ifmt.png" alt="IFMT" id="logo">
            <div id="links">
                <div id="diretos">
                    <a href="">IFMT Portal</a>
                    <a href="">Ouvidoria</a>
                    <a href="">Imprensa</a>
                </div>
                <form action="" method="post">
                   <input name="busca"/>
                </form>
                <div id="sociais">
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/f_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/g_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/t_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/y_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/i_mini.fw.png"/></a>
                </div>
                <div id="menus">
                    <a href="">Campis</a>
                    <a href="">Institucional</a>
                    <a href="">Ensino</a>
                    <a href="">Pesquisa</a>
                    <a href="">Estensão</a>
                    <a href="">Ingresso</a>
                    <a href="">Contato</a>
                </div>
            </div>
        </div>

        <div id="corpo">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div id="rodape">
        <div id="mapa">

        </div>
    </div>
  </body>
</html>
