{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <title>Portal IFMT:: </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}/css/base_old.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/lista_filtros.css" rel="stylesheet" type="text/css" />
    <!-- CSS do Campus -->
    <link href="{{ STATIC_URL }}/css/campus.css" rel="stylesheet" type="text/css" />
    <!-- CSS do Portal -->
    <link href="{{ STATIC_URL }}/css/portal_old.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/conteudo.css" rel="stylesheet" type="text/css" />
    <!-- Css Foundation -->
    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/foundation.css" rel="stylesheet">

    <!-- If you are using the gem version, you need this only -->
    <!-- <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet"> -->

    <!-- Js Foundation-->
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    <link href="{{ STATIC_URL }}/css/menu_top.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="palco">

        <div id="topo">
            <a href="/"><img src="{{ STATIC_URL }}img/logo_ifmt.png" alt="IFMT" id="logo"></a>
            <div id="links">
                <div id="diretos">
                    <a href="">IFMT Portal</a>
                    <a href="">Ouvidoria</a>
                    <a href="">Imprensa</a>
                </div>
                <form action="" method="post">
                   <input name="busca" value="Buscar..."/>
                </form>
                <div id="sociais">
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/f_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/g_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/t_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/y_mini.fw.png"/></a>
                    <a href=""><img src="{{ STATIC_URL }}img/sociais/i_mini.fw.png"/></a>
                </div>
                <nav class="top-bar" id="menu_section" data-topbar>
                  <section class="top-bar-section" >
                    <!-- Right Nav Section -->
                    <ul class="left" id="menus" >
                      <li class="has-dropdown">
                        <a href="#" class="geral">Câmpus</a>
                        <ul class="dropdown">
                          <li><a href="#">Imagem dos Câmpus</a></li>
                        </ul>
                      </li>
                      <li class="has-dropdown">
                        <a href="#" class="geral">Institucional</a>
                        <ul class="dropdown n1">
                            <li class="has-dropdown">
                                <a href="#">Sobre o IFMT</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Missão e Visão</a></li>
                                    <li><a href="">Histórico</a></li>
                                    <li><a href="">Reitoria do IFMT</a></li>
                                    <li><a href="">Campi do IFMT</a></li>
                                    <li><a href="">Legislação</a></li>
                                    <li class="has-dropdown">
                                        <a href="#">Organograma</a>
                                        <ul class="dropdown">
                                            <li><a href="">Reitoria</a></li>
                                            <li><a href="">Pró-Reitorias</a></li>
                                            <li><a href="">Campi</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Estrutura Adminstrativa</a></li>
                                    <li><a href="">Contatos</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Colegiados</a>
                                <ul class="dropdown n2">
                                    <li><a href="">CONSUP</a></li>
                                    <li><a href="">CODIR</a></li>
                                    <li><a href="">COPLAN</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Comissões</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Comissão Interna de Supervisão</a></li>
                                    <li><a href="">Comição Permanente de Avaliação de Documentos</a></li>
                                    <li><a href="">Comição Permanente de Fiscalização de Supervisão de Obras</a></li>
                                    <li><a href="">Comição Permanente de Licitação</a></li>
                                    <li><a href="">Comição Permanente de Pessoal Docente</a></li>
                                    <li><a href="">Comição Permanente de Sustentabilidade</a></li>
                                    <li><a href="">Comição Propria de Avaliação</a></li>
                                </ul>
                            </li>
                            <li><a href="">Notícias</a></li>
                            <li class="has-dropdown">
                                <a href="#">Documentos Institucionais</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Plano de Desenvolvimento Institucional (PDI)</a></li>
                                    <li><a href="">Projeto Pedagógico Institucional (PPI)</a></li>
                                    <li><a href="">Estatuto do IFMT</a></li>
                                    <li><a href="">Organização Didática</a></li>
                                    <li><a href="">Regimentos</a></li>
                                    <li><a href="">Regulamentos</a></li>
                                    <li><a href="">Boletim de Serviços</a></li>
                                    <li><a href="">Portarias</a></li>
                                    <li><a href="">Resoluções</a></li>
                                    <li><a href="">Instruções Normativas</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Seleções de Concursos</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Cursos Superiores</a></li>
                                    <li><a href="">Cursos Técnicos de Nível Médio</a></li>
                                    <li><a href="">Concursos Públicos</a></li>
                                </ul>
                            </li>
                            <li><a href="">DGTI</a></li>
                            <li class="has-dropdown">
                                <a href="#">DSGP</a>
                                <ul class="dropdown n2">
                                    <li class="has-dropdown">
                                        <a href="#">A DSGP</a>
                                        <ul class="dropdown">
                                            <li><a href="">A Diretoria</a></li>
                                            <li><a href="">Departamentos</a></li>
                                            <li><a href="">Coordenações</a></li>
                                            <li><a href="">Noticias</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Servidor</a>
                                        <ul class="dropdown">
                                            <li><a href="">Manual de Procedimentos</a></li>
                                            <li><a href="">Manual do Servidor</a></li>
                                            <li><a href="">Licença para Tratamento de Saúde</a></li>
                                            <li><a href="">Licença por Motivo de Doença em Pessoa da Família</a></li>
                                            <li><a href="">Contracheque</a></li>
                                            <li><a href="">Ações de Qualidade de Vida</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Formulários</a>
                                        <ul class="dropdown">
                                            <li><a href="">GEAP</a></li>
                                            <li><a href="">Solicitações</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Serviços</a>
                                        <ul class="dropdown">
                                            <li><a href="">Editais - Capacitação</a></li>
                                            <li><a href="">Editais - Contratação Temporários</a></li>
                                            <li><a href="">Documentos</a></li>
                                            <li><a href="">Boletins de Serviço</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Sistemas</a>
                                        <ul class="dropdown">
                                            <li><a href="">SUAPE</a></li>
                                            <li><a href="">SIGA</a></li>
                                            <li><a href="">SIAPENET</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Seleção de Concursos</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Concursos Públicos</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Cursos Superiores</a></li>
                                    <li><a href="">Cursos Técnicos de Nível Médio</a></li>
                                    <li><a href="">Concursos Públicos</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Imprensa</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Notícias</a></li>
                                    <li><a href="">Multimídia</a></li>
                                    <li><a href="">Informativo IFMT</a></li>
                                    <li><a href="">Jornal IFMT</a></li>
                                    <li><a href="">Identidade Visual</a></li>
                                    <li><a href="">Manual de Uso da Marca IFMT</a></li>
                                    <li><a href="">Agende um Entrevista</a></li>
                                </ul>
                            </li>
                        </ul>
                      </li>
                      <li class="has-dropdown">
                        <a href="#" class="geral">Ensino</a>
                        <ul class="dropdown n1">
                          <li class="has-dropdown">
                            <a href="#">Institucional</a>
                            <ul class="dropdown n2">
                                <li><a href="">Apresentação</a></li>
                                <li><a href="">Estrutura</a></li>
                                <li><a href="">Documentos Padrões</a></li>
                                <li><a href="">Comissões</a></li>
                            </ul>
                          </li>
                          <li><a href="">Guia de Cursos</a></li>
                          <li class="has-dropdown">
                            <a href="#">Calendário Acadêmico</a>
                            <ul class="dropdown n2">
                                <li><a href="">Calendário Referência</a></li>
                                <li><a href="">Calendário dos Campi</a></li>
                            </ul>
                          </li>
                          <li class="has-dropdown">
                            <a href="#">Assistência Estudantil</a>
                            <ul class="dropdown n2">
                                <li><a href="">Regulamento Geral</a></li>
                                <li><a href="">Regulamento dos Campi</a></li>
                            </ul>
                          </li>
                          <li><a href="">NAPNE/IFMT</a></li>
                          <li class="has-dropdown">
                            <a href="#">Seleções e Concursos</a>
                            <ul class="dropdown n2">
                                <li><a href="">Cursos Superiores</a></li>
                                <li><a href="">Cursos de Pós-Graduação</a></li>
                                <li><a href="">Cursos de Nível Médio</a></li>
                                <li><a href="">Concursos Públicos</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="has-dropdown">
                        <a href="#" class="geral">Pesquisa</a>
                        <ul class="dropdown n1">
                          <li class="has-dropdown">
                            <a href="#">Conheça a PROPES</a>
                            <ul class="dropdown n2">
                                <li><a href="">Apresentação</a></li>
                                <li><a href="">Missão, Visão e Valores</a></li>
                                <li><a href="">Metas do Ano</a></li>
                                <li><a href="">Organograma</a></li>
                                <li><a href="">Quem é Quem</a></li>
                                <li><a href="">Endereços e Contatos</a></li>
                            </ul>
                          </li>
                          <li class="has-dropdown">
                            <a href="#">Pesquisa</a>
                            <ul class="dropdown n2">
                                <li><a href="">Editais</a></li>
                                <li><a href="">Projetos de Pesquisa</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Iniciação Científica</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Programas de Agências Externas</a></li>
                                        <li><a href="">Programa Institucional do IFMT</a></li>
                                        <li><a href="">Bolsista Voluntarios</a></li>
                                        <li><a href="">Calendário Anual</a></li>
                                        <li><a href="">Comitê Assessor</a></li>
                                    </ul>
                                  </li>
                                <li><a href="">Grupos de Pesquisa</a></li>
                                <li><a href="">Pesquisadores</a></li>
                                <li><a href="">Documentos</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Comitê de Ética na Pesquisa</a>
                                    <ul class="dropdown n3">
                                        <li class="has-dropdown">
                                            <a href="">Animal</a>
                                            <ul class="dropdown n4">
                                                <li><a href="">Legislação</a></li>
                                                <li><a href="">Regulamentos</a></li>
                                                <li><a href="">Membros</a></li>
                                                <li><a href="">Calendário de Reuniões</a></li>
                                                <li><a href="">Formulários</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="">Humana</a>
                                            <ul class="dropdown n4">
                                                <li><a href="">Legislação</a></li>
                                                <li><a href="">Regulamentos</a></li>
                                                <li><a href="">Membros</a></li>
                                                <li><a href="">Calendário de Reuniões</a></li>
                                                <li><a href="">Formulários</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Câmara de Pesquisa</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Regulamentos</a></li>
                                        <li><a href="">Membros</a></li>
                                        <li><a href="">Calendário de Reuniões</a></li>
                                        <li><a href="">Decisões/Atas</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Eventos</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Jornada de Pesquisa e Extenção nos Câmpus</a></li>
                                        <li><a href="">Workshop de Pesquisa e Extenção</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Sites Recomendados</a></li>
                            </ul>
                          </li>
                          <li class="has-dropdown">
                            <a href="#">Pós-Graduação</a>
                            <ul class="dropdown n2">
                                <li class="has-dropdown">
                                    <a href="#">Lato Sensu</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Curso 1</a></li>
                                        <li><a href="">Curso 2</a></li>
                                        <li><a href="">Curso 3</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Strictu Sensu</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Curso 1</a></li>
                                        <li><a href="">Curso 2</a></li>
                                        <li><a href="">Curso 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Regulamento de Pós-Graduação</a></li>
                                <li><a href="">Câmeras e Comições</a></li>
                                <li><a href="">Legislação</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Capacitação de Servidores</a>
                                    <ul class="dropdown n3">
                                        <li><a href="">Convenios</a></li>
                                        <li><a href="">Servidores Afastados</a></li>
                                        <li><a href="">Regulamentos</a></li>
                                        <li><a href="">Editais</a></li>
                                        <li><a href="">Formulários</a></li>
                                    </ul>
                                </li>
                            </ul>
                          </li>
                          <li class="has-dropdown">
                            <a href="#">Inovação Tecnológica</a>
                            <ul class="dropdown n2">
                                <li><a href="">Apresentação</a></li>
                                <li><a href="">Missão, Visão e Valores</a></li>
                                <li><a href="">Projetos de Inovação Tecnológica</a></li>
                                <li><a href="">Regulamentos</a></li>
                                <li><a href="">Legislação</a></li>
                                <li><a href="">Parceiros</a></li>
                                <li><a href="">Documentos e Formularios</a></li>
                            </ul>
                          </li>
                          <li><a href="">Relatórios de Gestão</a></li>
                        </ul>
                      </li>
                      <li class="has-dropdown">
                        <a href="#" class="geral">Extensão</a>
                        <ul class="dropdown n1">
                            <li class="has-dropdown">
                                <a href="#">A PROEX</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Apresentação</a></li>
                                    <li><a href="">Estrutura</a></li>
                                    <li><a href="">Documentos Padrões</a></li>
                                    <li><a href="">Comissões</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Arte e Cultura</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Artes Plásticas</a></li>
                                    <li><a href="">Artesanato</a></li>
                                    <li><a href="">Artes Visuais</a></li>
                                    <li><a href="">Festival de Literatura</a></li>
                                    <li><a href="">Manifestações Cenográficas</a></li>
                                    <li><a href="">Manifestações Musicais</a></li>
                                    <li><a href="">Mostra de Arte e Cultura</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Convênios</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Estágio e Emprego</a></li>
                                    <li><a href="">Serviços Tecnológicos</a></li>
                                    <li><a href="">Outras Ações de Extenção</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Desporto</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Jogos Interclasses</a></li>
                                    <li><a href="">JIFs IFMT</a></li>
                                    <li><a href="">JIFs Centro-Oeste</a></li>
                                    <li><a href="">JIFs Nacional</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Estágio</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Estágio Curricular Obrigatório</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Eventos</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Jornadas de Pesquisa e Extenção nos Campi</a></li>
                                    <li><a href="">Workshop de Pesquisa e Extenção</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Ex-Alunos</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Egressos</a></li>
                                    <li><a href="">Desistentes</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Inovação Tecnológica</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Incubadora de Empresas</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Legislação</a>
                                <ul class="dropdown n2">
                                    <li><a href="">PRONATEC</a></li>
                                    <li><a href="">Mulheres Mil</a></li>
                                    <li><a href="">Certific</a></li>
                                    <li><a href="">Estágio</a></li>
                                    <li><a href="">Inovação</a></li>
                                    <li><a href="">Resoluções</a></li>
                                    <li><a href="">Portarias</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Publicações</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Ações de Extensão</a></li>
                                    <li><a href="">Manual de Estágio</a></li>
                                    <li><a href="">Cartilha de Empreendedorismo</a></li>
                                    <li><a href="">Livro Pronatec</a></li>
                                    <li><a href="">Livro Mulheres Mil</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Projetos de Extensão</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Editais da Reitoria</a></li>
                                    <li><a href="">Editais de Campi</a></li>
                                    <li><a href="">Editais Externos</a></li>
                                    <li><a href="">Ações Independentes de Edital</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Projetos Especiais do Mec</a>
                                <ul class="dropdown n2">
                                    <li><a href="">Pronatec</a></li>
                                    <li><a href="">Mulheres Mil</a></li>
                                    <li><a href="">Certific</a></li>
                                    <li><a href="">Pronilo</a></li>
                                </ul>
                            </li>
                        </ul>
                      </li>
                      <li><a href="{% url 'selecao' %}">Ingresso</a></li>
                      <li><a href="#">Contato</a></li>
                    </ul>
                  </section>
                </nav>
            </div>
        </div>

        <div id="corpo">
            {% block content %}
            {% endblock content %}
        </div>

    </div>
    <div id="rodape">
        <div id="mapa">

        </div>
    </div>

    <!-- js Foundation Orbit -->
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
    <!-- js Foundation -->
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
  </body>
</html>
