{% load mptt_tags %}
{% load thumbnail %}
<!DOCTYPE html> <!--[if IE 9]><html class="lt-ie10" lang="pt-br" > <![endif]-->
<html class="no-js" lang="pt-br">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation-ifmt.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation-icons/foundation-icons.min.css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

    {#Bloco para estilos personalizados para templates específicos#}
    {% block stylesheet %}
    {% endblock %}
</head>
<body> <!-- body content here -->
<iframe src="{{ STATIC_URL }}html/barra_brasil.html" width="100%" height="33px" frameborder="0" scrolling="no"></iframe>
{#Container geral do portal#}
<div class="row collapse">

{#Container para o cabeçalho#}
<div class="row padding-bottom">
    {#Menu topo#}
    <div class="row">
        <div class="medium-12 columns">
            <div class="contain-to-grid fixed">
                <nav class="top-bar" id="menu_section" data-topbar data-options="custom_back_text:false;scrolltop:false">

                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logo-ifmt-branco.png" alt="IFMT"></a></h1>
                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        {% block menu %}
                            {#Renderiza o menu#}
                            <ul>
                                {% recursetree menus %}
                                    <li {% if node.get_leafnodes %}class="has-dropdown"{% endif %}>
                                        <a href="{{ node.url }}" {% if node.nova_janela %}target="_blank"{% endif %}>
                                            {{ node.titulo }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="dropdown">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        {% endblock %}
                    </section>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        {#Container para a logo do IFMT#}
	{% if not site.sitedetalhe.destino.tipo == 'INDEPENDENTE' %}
        <div class="small-4 medium-5 columns small-only-text-center padding-top">
            <a href="{% url 'home' %}"><img src="{{ site.sitedetalhe.logo.url }}" alt="IFMT"></a>
            <p class="small-text-left texto-tamanho-pequeno negrito no-margin" style="margin-left: 72px;">{{ site.name }}</p>
        </div>

        {#Container para a parte direita do cabeçalho#}
        <div class="small-8 medium-7 columns">

            {#Social#}
            {{ site.sitedetalhe.social|safe }}
            {#Fim da div social#}

            {#Form de busca#}
            <div class="row">
                <form method="get" action="{% url 'buscar' %}">
                    <fieldset>
                        <legend>Buscar</legend>
                        <div class="row collapse">
                            <div class="small-9 medium-9 large-7 medium-offset-1 large-offset-3 columns">
                                <input type="search" id="id_q" name="q" placeholder="Buscar notícias, eventos e mais...">
                            </div>
                            <div class="small-3 medium-2 columns">
                                <input type="submit" value="Buscar" class="button postfix no-margin" />
                            </div>
                        </div>
                    <fieldset>
                </form>
            </div>
            {#Fim da div de busca#}

            {#Links úteis#}
            {{ site.sitedetalhe.links_uteis|safe }}
            {#Fim da div links úteis#}

        </div>
        {% else %}
            <a href="{% url 'home' %}"><img src="{{ site.sitedetalhe.logo.url }}" alt="IFMT"></a>
        {% endif %}
        {#Fim da div menu topo#}

    </div>

</div>
{#Fim da div para o cabeçalho#}

<a href="#" id="irconteudo"></a>
{% block content %}
{% endblock %}

{{ site.sitedetalhe.mapa_site|safe }}
{#Fim da div mapa do site#}

<a href="#" id="irrodape"></a>
{#Comeco da div endereco#}
{{ site.sitedetalhe.endereco|safe }}
{#Fim da div endereco#}

</div>
{#Fim da div geral do portal#}
<script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
<script> $(document).foundation(); </script>

<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>

{#Bloco para javascript personalizado para templates específicos#}
{% block javascript %}
{% endblock %}

</body>
</html>
