{% extends 'core/base.html' %}
{% load thumbnail %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.8/slick.css"/>
{% endblock %}

{% block content %}
    {{ site.sitedetalhe.modal|safe }}
    {#Container central para as 2 colunas#}
    <div class="row">

        {#Container para mais notícias#}
        <div class="medium-8 columns padding-bottom">
            <h1><a href="{% url 'conteudo:noticias_lista' %}"><i class="fi-plus"></i> NOTÍCIAS</a></h1>
            {% for noticia in noticias.object_list %}
                <div class="row padding-bottom-duplo collapse">
                    <div class="small-12 columns">
                        <p class="data-local texto-tamanho-xsmall no-margin">{{ noticia.data_publicacao|date:"d M" }}
                            - {{ noticia.campus_origem.nome }}</p>

                        <h1><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h1>

                        <article>
                            {{ noticia.texto|safe|truncatewords:'100' }}
                        </article>

                        <div class="row collapse">
                            <div class="medium-4 medium-offset-8 columns">

                                <a href="{{ noticia.get_absolute_url }}" class="button small expand no-margin">Continue
                                    lendo &raquo;</a>
                                {#                                <input type="submit" class="button small expand no-margin" value="Buscar Cursos">#}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% block paginacao %}
                {#Início da paginação#}
                <div class="pagination-centered">
                    <ul class="pagination" role="menubar" aria-label="Pagination">
                        {% if noticias.has_previous %}
                            <li class="arrow" aria-disabled="true">
                                <a href="?{{ noticias.previous_page_number.querystring }}">
                                    <i class="fi-rewind"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% for page in noticias.pages %}
                            {% if page %}
                                {% ifequal page noticias.number %}
                                    <li class="current"><a href="">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if noticias.has_next %}
                            <li class="arrow">
                                <a href="?{{ noticias.next_page_number.querystring }}" class="arrow">
                                    <i class="fi-fast-forward"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {#Fim da paginação#}
            {% endblock %}
        </div>
        {#Fim da div mais notícias#}

        {#Container para coluna à direita#}
        <div class="medium-4 columns padding-bottom">

            {#Galeria de fotos#}
            <div class="row">
                <h1><a href="{% url 'conteudo:galerias_lista' %}"><i class="fi-plus"></i> GALERIAS</a></h1>

                <div class="row">
                    <ul class="example-orbit" data-orbit
                        data-options="animation_speed:500;bullets:false;slide_number:false;swipe:true;resume_on_mouseout:true;">
                        {% for galeria in galerias %}
                            <li data-orbit-slide="{{ galeria.id }}">
                                <a href="{{ galeria.get_absolute_url }}">
                                    {% if galeria.primeira_imagem %}
                                        <img
                                                src="{% thumbnail galeria.primeira_imagem 640x350 crop quality=80 %}"
                                                alt="{{ galeria.titulo }}"/>
                                    {% endif %}
                                    <div class="orbit-caption">
                                        <div class="small-2 columns text-center no-padding padding-top-bottom fundo-vermelho texto-tamanho-pequeno">
                                            {{ galeria.data_publicacao|date:"d M" }}
                                        </div>
                                        <div class="small-10 columns">
                                            <div class="data-local branco negrito texto-tamanho-pequeno">
                                                {{ galeria.get_campus_origem_display }}
                                            </div>
                                            <p class="no-margin espacamento-medio branco texto-tamanho-pequeno">{{ galeria.titulo|truncatechars:'60' }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="small-block-grid-3 padding-top">
                        {% for galeria in galerias %}
                            <li>
                                <a data-orbit-link="{{ galeria.id }}">
                                    <img src="{% thumbnail galeria.primeira_imagem 190x100 crop quality=80 %}"
                                         alt="{{ galeria.titulo }}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {#Fim da div galeria de fotos#}

            {#Vídeos#}
            <div class="row padding-bottom-duplo">
                <h1><a href="{% url 'conteudo:videos_lista' %}"><i class="fi-plus"></i> VÍDEOS</a></h1>
                {% for video in videos %}
                    <div class="row">
                        <div class="flex-video">
                            <iframe src="{{ video.embed }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{{ video.get_absolute_url }}">
                            <div class="data-local texto-tamanho-xsmall">{{ video.data_publicacao|date:"d M" }}
                                - {{ video.campus_origem.nome }}</div>
                            <p class="espacamento-medio">{{ video.titulo }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {#Fim da div vídeos#}

            {#Container para os banners especiais#}
            <div class="row">
                <h1><i class="fi-link"></i> LINKS DE ACESSO</h1>
                {% for banner in banners %}
                    <div class="row collapse padding-bottom">
                        <a href="{{ banner.url }}">
                            <div class="row collapse hover-cinza-claro">
                                <div class="small-2 medium-12 columns">
                                    <img src="{% thumbnail banner.arquivo 460x200 crop quality=80 %}"
                                         data-tooltip class="has-tip"
                                         title="{{ banner.titulo }}"/>
                                </div>
                                <div class="small-10 columns show-for-small-only">
                                    <div class="padding-left">
                                        <p class="espacamento-medio">{{ banner.titulo }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#Fim da div da coluna à direita#}
    </div>
    {#Fim da div central para as 3 colunas#}

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#modal').foundation('reveal', 'open');
        });
    </script>
{% endblock %}