{% extends 'core/pagina.html' %}
{% block conteudo %}
    <data>Segunda-feira, 02 de Junho de 2014 às 9:18</data>
    <titulo>Inscrições estão abertas para processo seletivo com 240 vagas em cursos técnicos subsequentes ao ensino médio</titulo>
    <controle>
        <rede-social>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/f_cubo_mini.png"/></a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png"/></a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/t_cubo_mini.png"/></a>
        </rede-social>
        <letra>
            <a href="">A+</a>
            <a href="">A-</a>
        </letra>
    </controle>
    <p id="texto">
        <!--
        Para noticias de Video
        <iframe width="640" height="480" src="//www.youtube.com/embed/RBMxHUCtqn0" frameborder="0" allowfullscreen></iframe>

        Para noticia de Galeria, essa imagem é só para ilustrar onde pode focar a grade da galeria ou a galeria em si.
        <img src="{{ STATIC_URL }}img/logo_ifmt.png" id="galeria" alt="IFMT">
        -->
        <!-- Para noticia de texto, essa imagem não aparece para os outros tipos -->
        <img src="{{ STATIC_URL }}img/logo_ifmt.png" alt="IFMT">
        Estão abertas as inscrições, no período de 27 de maio à 15 de junho, para o processo seletivo para cursos técnicos subsequentes ao ensino médio. Estão sendo ofertadas 240 vagas para cursos subsequentes, distribuídas em oito diferentes cursos de cinco campi da instituição. Os cursos técnicos subsequentes são destinados à estudantes que já tenham concluído o ensino médio.
Os candidatos deverão efetuar sua inscrição pelo site da seleção do IFMT, escolher a vaga, preencher seus dados e imprimir o boleto. A taxa de inscrição é de R$ 30,00 e deverá ser paga até a data de 16 de junho.
A prova para seleção nos cursos técnicos subsequentes será composta por 45 questões, em 7 diferentes disciplinas, que será aplicada na data de 27 de julho, no período matutino. O local de aplicação das provas será divulgado no dia 25 de junho, com a relação de inscrições deferidas.
No edital completo, os candidatos poderão obter informações acerca da reserva de vagas/cotas, procedimentos para solicitação da isenção de pagamento da taxa de inscrição, conteúdo programático das provas, datas dos resultados, matrículas e outras informações necessárias.
Edital 30/2014: Relação de cursos, campi e vagas – Cursos técnicos subsequentes
- Técnico em Eletrônica – Campus Cuiabá Octayde Jorge da Silva – 30 vagas
- Técnico em Eletrotécnica – Campus Cuiabá Octayde Jorge da Silva – 30 vagas
- Técnico em Telecomunicações – Campus Cuiabá Octayde Jorge da Silva – 30 vagas
- Técnico em Alimentos – Campus Cuiabá Bela Vista – 25 vagas
- Técnico em Química – Campus Cuiabá Bela Vista – 25 vagas
- Técnico em Secretariado – Campus Barra do Garças – 30 vagas
- Técnico em Agropecuária – Campus Campo Novo do Parecis – 30 vagas
- Técnico em Química – Campus Pontes e Lacerda – Núcleo Avançado de Araputanga – 40 vagas
Outros editais de seleção: Estão abertas as inscrições também para o processo seletivo do curso técnico em comércio integrado ao ensino médio na modalidade Proeja, ofertado pelo Campus Campo Novo do Parecis. As inscrições devem ser feitas também de 27 de maio à 15 de junho, no site da Seleção. Estão sendo ofertadas 30 vagas. Os cursos técnicos integrados ao ensino médio na modalidade Proeja são destinados à estudantes que tenham idade mínima de 18 anos, tenha concluído o ensino fundamental, mas não o ensino médio.
Foi lançado o edital 032/2014, com oferta de 25 vagas para o curso técnico em química integrado ao ensino médio, do Campus Cuiabá-Bela Vista. As inscrições serão feitas no período de 30 de junho à 13 de julho, no site da Seleção.
Acesse abaixo os editais:

    </p>
    <autor>Assessoria IFMT</autor>
    <relacionados>
        <div>
            <p>Arquivos Relacionados</p>
            <a href="">EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href="">EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href="">EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
        <div>
            <p>Galerias Relacionadas</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
        <div>
            <p>Videos Relacionados</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
        <div>
            <p>Tópicos Relacionados</p>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
            <a href=""><img src="{{ STATIC_URL }}img/sociais/g_cubo_mini.png" />EDITAL n.º 032.2014-2 - Ensino Médio Integrado - Bela Vista.pdf</a>
        </div>
    </relacionados>
{% endblock conteudo %}