{% extends 'core/base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/detalhe.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="row">
            <div class="small-12 columns">
                <ul class="breadcrumbs no-margin">
                    <li><a href="{% url 'home' %}">Início</a></li>
                    {% block breadcrumbs %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <div class="row collapse">
                    <div class="small-7 columns">
                        <ul class="no-margin compartilhar texto-tamanho-medio">
                            <li><a href="javascript:window.print();" title="Imprima esta página"><i
                                    class="fi-print"></i></a></li>
                            <li>
                                <a href="http://www.facebook.com/sharer/sharer.php?u=#url{{ request.build_absolute_uri }}"
                                   target="_blank" title="Compartilhe no Facebook!">
                                    <i class="fi-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"
                                   target="_blank" title="Compartilhe no Google +!">
                                    <i class="fi-social-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}"
                                   target="_blank"
                                   title="Compartilhe no Twitter!">
                                    <i class="fi-social-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="small-5 columns text-right">
                        <ul class="no-margin compartilhar texto-tamanho-medio">
                            <li><a onclick="resizeText(1)" title="Aumentar fonte">A+</a></li>
                            <li><a onclick="resizeText(-1)" title="Diminuir fonte">A-</a></li>
                            <li><a onclick="resetText()" title="Tamanho original">A</a></li>
                        </ul>
                    </div>
                </div>

                {% block edicao %}
                {% endblock edicao %}

                {% block conteudo %}
                {% endblock conteudo %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/blueimp-gallery.min.js"></script>
    <script>
        function resizeText(multiplier) {
            var h1 = document.getElementById('titulo');
            var p = document.getElementById('conteudo').getElementsByTagName('p');

            if (h1.style.fontSize == "") {
                h1.style.fontSize = "1.5em";
            }
            if (h1.style.fontSize) {
                h1.style.fontSize = parseFloat(h1.style.fontSize) + (multiplier * 0.2) + "em";
            }

            for (var i = 0; i < p.length; i++) {
                if (p[i].style.fontSize == "") {
                    p[i].style.fontSize = "1em";
                }
                if (p[i].style.fontSize) {
                    p[i].style.fontSize = parseFloat(p[i].style.fontSize) + (multiplier * 0.2) + "em";
                }
            }
        }

        function resetText() {
            var h1 = document.getElementById('titulo');
            var p = document.getElementById('conteudo').getElementsByTagName('p');

            h1.style.fontSize = "1.5em";

            for (var i = 0; i < p.length; i++) {
                p[i].style.fontSize = "1em";
            }
        }

        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

    </script>
{% endblock %}