{% extends 'core/pagina.html' %}
{% block conteudo %}
<titulo>Vestibulares e Seleções | Vestibulares</titulo>
<lista>
    <filtros>
        <a href="?status=ABT">Abertos</a>
        <a href="?status=AND">Em Andamento</a>
        <a href="?status=FNZ">Finalizado</a>
        <ul class="menu">
            <li><a href="?ano=2014">2014</a>
                <ul>
                   <li><a href="?ano=2013">2013</a></li>
                   <li><a href="?ano=2012">2012</a></li>
                </ul>
            </li>
        </ul>
    </filtros>
    <table cellspacing="0">
        <tr>
            <th class="data">Abertura</th>
            <th class="data">Status</th>
            <th>Editais</th>
        </tr>
        {% for item in lista %}
        <tr>
            <td class="data"><a href="{{ item.url }}" target="_blank">{{ item.data_abertura_edital|date:"d M Y" }}</a></td>
            <td class="data"><a href="{{ item.url }}" target="_blank">{{ item.get_status_display }}</a></td>
            <td><a href="{{ item.url }}" target="_blank">{{ item.titulo }}</a></td>
        </tr>
        {% endfor %}
    </table>
</lista>
{% endblock conteudo %}