{% extends 'core/base.html' %}
{% load thumbnail %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pagina.css">
{% endblock %}

{% block content %}

    {#Container para a página de listagem#}
    <div class="row">

        {#Container para breadcrumbs#}
        <div class="row">
            <div class="small-12 columns">
                <ul class="breadcrumbs no-margin">
                    <li><a href="{% url 'home' %}">Portal</a></li>
                    {% block breadcrumbs %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        {#Fim da row para breadcrumbs#}

        {% block listagem %}
        {% endblock %}
    </div>
    {#Fim da div row para a página de listagem#}

    {% block paginacao %}
    {% endblock %}

{% endblock %}