{% extends 'core/base.html' %}
{% block content %}
<div id="menu-lateral">
    <a href="" id="menu"><img src="{{ STATIC_URL }}img/menu-lateral/menu.png"></a>
    <a href=""><img src="{{ STATIC_URL }}img/menu-lateral/compartilhar.png" ></a>
    <a href=""><img src="{{ STATIC_URL }}img/menu-lateral/email.png" ></a>
    <a href=""><img src="{{ STATIC_URL }}img/menu-lateral/imprimir.png" ></a>
</div>
<div id="navegacao">
    <a href="">Portal IFMT</a> |
    <a href="">Noticia</a>
</div>
<div id="noticia">
    {% block conteudo %}
    {% endblock conteudo %}
</div>
{% endblock content %}