{% extends 'core/base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="row" id="destaque">
        <div class="large-8 columns" id="quadro">

            <ul class="example-orbit" data-orbit data-options="animation_speed:500;bullets:false;slide_number:false;swipe:true;resume_on_mouseout:true;">
                {% for noticia in noticias_destaque %}
                    <li  data-orbit-slide="{{ noticia.id }}">
                        {% if noticia.primeira_imagem %}
                            <a href="{{ noticia.get_absolute_url }}"><img src="{% thumbnail noticia.primeira_imagem 520x450 crop quality=80 %}" alt="{{ noticia.titulo }}"/></a>
                        {% endif %}
                        <div class="orbit-caption">
                            <data>
                                <dia>{{ noticia.data_publicacao|date:"d M" }}</dia>
                                {{ noticia.data_publicacao|date:"Y" }}
                            </data>
                            <campus>Rondonopolis</campus>
                            <titulo>{{ noticia.titulo }}</titulo>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div id="menu">
                {% for noticia in noticias_destaque %}
                    <a data-orbit-link="{{ noticia.id }}">
                        <img src="{% thumbnail noticia.primeira_imagem 112x60 crop quality=80 %}" alt="{{ noticia.titulo }}"/>
                    </a>
                {% endfor %}
            </div>

        </div>
        <div class="large-4 columns" style="padding:2px;">
            <div id="especial" class="row">
                <p>Especial</p>
                 {% for banner in banners %}
                    <div>
                        {% if banner.titulo %}
                            {% if banner.primeira_imagem %}
                                <img src="{% thumbnail banner.primeira_imagem 120x90 crop quality=80 %}"/>
                                {{ banner.titulo }}
                            {% endif %}
                        {% else %}
                            {% if banner.primeira_imagem %}
                                 <img src="{% thumbnail banner.primeira_imagem 260x90 crop quality=80 %}" class="banner"/>
                            {% endif %}
                        {% endif %}

                    </div>
                 {% endfor %}
            </div>
            <img src="{{ STATIC_URL }}img/exame_vestibular.jpg" id="exame_vestibular" />
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns" id="noticias">
            <p>NOTICIAS <a href="">| + Ver Mais</a></p>
            {% for noticia in mais_noticias %}
                <a href="{{ noticia.get_absolute_url }}">
                    {% if noticia.primeira_imagem %}
                        <img src="{% thumbnail noticia.primeira_imagem 100x80 crop quality=80 %}" alt="{{ noticia.titulo }}">
                    {% endif %}
                    <data-local>{{ noticia.data_publicacao|date:"d M" }} - Rondonopolis</data-local>
                    <titulo>{{ noticia.titulo }}</titulo>
                </a>
            {% endfor %}
        </div>
        <div class="large-4 columns">
            <form id="guia">
                <p>Conheça os cursos ofertados pelo IFMT</p>
                <label>Selecione um campus</label>
                <select name="campus">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
                <label>Selecione uma tipo de Formação</label>
                <select name="formacao">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
                <label>Selecione um Curso</label>
                <select name="curso">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
            </form>
            <div id="eventos">
                    <p>EVENTOS <a href="">| + Ver Mais</a></p>
                    {% for evento in eventos %}
                    <a href="">
                        <data><dia>{{ evento.data_publicacao|date:"d M" }}</dia> {{ evento.data_publicacao|date:"Y" }}</data>
                        <campus>Rondonopolis</campus>
                        <titulo>{{ evento.titulo }}</titulo>
                    </a>
                   {% endfor %}
             </div>

            <div id="acesso-rapido">
                <p>ACESSO RAPIDO</p>
                <a href="">
                    <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    <titulo>Novo terminal remoto do aeroporto de Fortaleza </titulo>
                </a>
                <a href="">
                    <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    <titulo>Novo terminal remoto do aeroporto de Fortaleza </titulo>
                </a>
                <a href="">
                    <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    <titulo>Novo terminal remoto do aeroporto de Fortaleza </titulo>
                </a>
                <a href="">
                    <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    <titulo>Novo terminal remoto do aeroporto de Fortaleza </titulo>
                </a>
                <a href="">
                    <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    <titulo>Novo terminal remoto do aeroporto de Fortaleza </titulo>
                </a>
            </div>
        </div>
        <div class="large-4 columns" style="padding:2px;">
            <div id="proreitorias-diretorias">
                <p>PRÓ-REITORIAS</p>
                <a href="">Pró-Reitoria de Administração</a>
                <a href="">Pró-Reitoria de Ensino</a>
                <a href="">Pró-Reitoria de Extenção</a>
                <a href="">Pró-Reitoria de Pesquisa e Inovação</a>
                <a href="">Pró-Reitoria de Desenvolvimento Institucional</a>
                <p>DIRETORIAS</p>
                <a href="">Diretoria Sistemica de Gestão de Pessoas</a>
                <a href="">Diretoria Sistemica de Tecnologia da Informação</a>
            </div>
            <div id="midias">
                <div id="galeria">
                    <p>Galerias <a href="">| + Ver Mais</a></p>
                    <grande>
                        <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg"/>
                        <data><dia>08 Mai</dia> 2014</data>
                        <campus>Rondonopolis</campus>
                        <titulo>Novo terminal remoto do aeroporto de Fortaleza entra em operação</titulo>
                    </grande>
                    <menu>
                        <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                        <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                        <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg" >
                    </menu>
                </div>
                <div id="video">
                    <p>Videos <a href="">| + Ver Mais</a></p>
                    <grande>
                        <img src="{{ MEDIA_URL }}05232014_montagem_capa.jpg"/>
                        <data><dia>08 Mai</dia> 2014</data>
                        <campus>Rondonopolis</campus>
                        <titulo>Novo terminal remoto do aeroporto de Fortaleza entra em operação</titulo>
                    </grande>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}