{% extends 'core/base_grid5.html' %}
{% load thumbnail %}

{% block content %}
    {#Container para as notícias de destaque e banners especiais#}
    <div class="row padding-bottom">

        {#Container para as notícias de destaque#}
        <div class="medium-8 columns">
            <ul class="example-orbit" data-orbit
                data-options="animation_speed:500;bullets:false;slide_number:false;swipe:true;resume_on_mouseout:true;">
                {% for noticia in noticias_destaque %}
                    <li data-orbit-slide="{{ noticia.id }}">
                        {% if noticia.primeira_imagem %}
                            <a href="{{ noticia.get_absolute_url }}"><img
                                    src="{% thumbnail noticia.primeira_imagem 800x520 crop quality=80 %}"
                                    alt="{{ noticia.titulo }}"/></a>
                        {% endif %}
                        <div class="orbit-caption">
                            <a href="{{ evento.get_absolute_url }}">
                                <div class="small-2 columns text-center no-padding mes-ano fundo-vermelho">
                                    {{ noticia.data_publicacao|date:"d M" }}
                                    {{ noticia.data_publicacao|date:"Y" }}
                                </div>

                                <div class="small-10 columns">
                                    <div class="data-local branco negrito">
                                        {{ noticia.get_campus_origem_display }}
                                    </div>
                                    <p class="no-margin branco">{{ noticia.titulo }}</p>
                                </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <ul class="small-block-grid-5 padding-top">
                {% for noticia in noticias_destaque %}
                    <li>
                        <a data-orbit-link="{{ noticia.id }}">
                            <img src="{% thumbnail noticia.primeira_imagem 112x60 crop quality=80 %}"
                                 alt="{{ noticia.titulo }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {#Container para os banners especiais#}
        <div class="medium-4 columns">
            {% for banner in banners %}
                <div class="row collapse padding-bottom hover-cinza-claro">
                    <a href="">
                        <div class="row collapse">
                            <div class="small-2 medium-5 columns">
                                <img src="{% thumbnail banner.arquivo 200x200 crop quality=80 %}"/>
                            </div>
                            <div class="small-10 medium-7 columns">
                                <div class="padding-left">
                                    <p>{{ banner.titulo }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="row collapse padding-bottom hover-cinza-claro">
                <a href="">
                    <div class="row collapse">
                        <img src="{{ STATIC_URL }}img/exame_vestibular.jpg"/>
                    </div>
                </a>

            </div>
        </div>
    </div>
    {#Fim da div para as notícias de destaque e banners especiais#}

    {#Container central para as 3 colunas#}
    <div class="row">

    {#Container para mais notícias#}
    <div class="medium-4 columns padding-bottom">
        <div class="row">
            <h1><a href="{% url 'conteudo:noticias_lista' %}"><i class="fi-plus"></i> NOTÍCIAS</a></h1>
        </div>
        {% for noticia in mais_noticias %}
            <div class="row collapse padding-bottom-duplo hover-cinza-claro">
                {% if noticia.primeira_imagem %}
                    <a href="{{ noticia.get_absolute_url }}">
                        <div class="row collapse">
                            <div class="small-2 medium-3 columns">
                                <img src="{% thumbnail noticia.primeira_imagem 100x100 crop quality=80 %}"
                                     alt="{{ noticia.titulo }}">
                            </div>
                            <div class="small-10 medium-9 columns">
                                <div class="data-local padding-left">{{ noticia.data_publicacao|date:"d M" }}
                                    - {{ noticia.get_campus_origem_display }}</div>
                                <p class="no-margin padding-left">{{ noticia.titulo }}</p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <div class="small-12 columns">
                        <a href="{{ noticia.get_absolute_url }}">
                            <div class="row">
                                <div class="data-local">{{ noticia.data_publicacao|date:"d M" }}
                                    - {{ noticia.get_campus_origem_display }}</div>
                                <p class="no-margin">{{ noticia.titulo }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {#Fim da div mais notícias#}

    {#Container para eventos e guia de curso#}
    <div class="medium-4 columns fundo-cinza">
        <div class="row padding-bottom">
            <form>
                <h1><i class="fi-list"></i> GUIA DE CURSOS</h1>
                <label>Selecione um campus</label>
                <select name="campus">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
                <label>Selecione uma tipo de Formação</label>
                <select name="formacao">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
                <label>Selecione um Curso</label>
                <select name="curso">
                    <option value="01">--------</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                    <option value="01">Campus 1</option>
                </select>
            </form>
        </div>
        {#Fim da div eventos e guia de curso#}

        {#Eventos#}
        <div class="row padding-bottom">
            <h1><a href="{% url 'conteudo:eventos_lista' %}"><i class="fi-plus"></i> EVENTOS</a></h1>
            {% for evento in eventos %}
                <div class="row padding-bottom hover-cinza-medio">
                    <a href="{{ evento.get_absolute_url }}">
                        <div class="row">
                            <div class="small-3 columns text-center no-padding">
                                <p class="mes-ano fundo-verde no-margin">
                                    {{ evento.data_inicio|date:"d M" }}
                                    {{ evento.data_publicacao|date:"Y" }}
                                </p>
                            </div>

                            <div class="small-9 columns no-padding padding-left">
                                <div class="data-local">
                                    {{ evento.get_campus_origem_display }}
                                </div>
                                <p>{{ evento.titulo }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {#Fim da div eventos#}

        {#Acesso rápido#}
        <div class="row">
            <h1><i class="fi-list-thumbnails"></i> ACESSO RÁPIDO</h1>

            <div class="row collapse padding-bottom hover-cinza-medio">
                <a href="">
                    <div class="row collapse">
                        <div class="small-2 medium-5 columns">
                            <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                        </div>
                        <div class="small-10 medium-7 columns">
                            <p class="padding-left">Novo terminal remoto do aeroporto de Fortaleza</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row collapse padding-bottom hover-cinza-medio">
                <a href="">
                    <div class="row collapse">
                        <div class="small-2 medium-5 columns">
                            <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                        </div>
                        <div class="small-10 medium-7 columns">
                            <p class="padding-left">Novo terminal remoto do aeroporto de Fortaleza</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row collapse padding-bottom hover-cinza-medio">
                <a href="">
                    <div class="row collapse">
                        <div class="small-2 medium-5 columns">
                            <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                        </div>
                        <div class="small-10 medium-7 columns">
                            <p class="padding-left">Novo terminal remoto do aeroporto de Fortaleza</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row collapse padding-bottom hover-cinza-medio">
                <a href="">
                    <div class="row collapse">
                        <div class="small-2 medium-5 columns">
                            <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                        </div>
                        <div class="small-10 medium-7 columns">
                            <p class="padding-left">Novo terminal remoto do aeroporto de Fortaleza</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row collapse padding-bottom hover-cinza-medio">
                <a href="">
                    <div class="row collapse">
                        <div class="small-2 medium-5 columns">
                            <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                        </div>
                        <div class="small-10 medium-7 columns">
                            <p class="padding-left">Novo terminal remoto do aeroporto de Fortaleza</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {#Fim da div acesso rápido#}

    </div>
    {#Fim da div para eventos e guia de curso#}

    {#Container para coluna à direita#}
    <div class="medium-4 columns padding-bottom">

        {#Pró-reitorias e diretorias#}
        <div class="row">
            <div class="row padding-bottom">
                <h1><i class="fi-torsos-all"></i> PRÓ-REITORIAS</h1>
                <ul class="marcador-circulo">
                    <li><a href="">Pró-Reitoria de Desenvolvimento Institucional</a></li>
                    <li><a href="">Pró-Reitoria de Ensino</a></li>
                    <li><a href="">Pró-Reitoria de Extensão</a></li>
                    <li><a href="">Pró-Reitoria de Pesquisa e Inovação</a></li>
                    <li><a href="">Pró-Reitoria de Desenvolvimento Institucional</a></li>
                </ul>
            </div>

            <div class="row padding-bottom">
                <h1><i class="fi-torsos-all"></i> DIRETORIAS</h1>
                <ul class="marcador-circulo">
                    <li><a href="">Diretoria Sistemica de Gestão de Pessoas</a></li>
                    <li><a href="">Diretoria Sistemica de Tecnologia da Informação</a></li>
                </ul>
            </div>
        </div>
        {#Fim da div pró-reitorias e diretorias#}

        {#Galeria de fotos#}
        <div class="row">
            <h1><a href=""><i class="fi-plus"></i> GALERIAS</a></h1>

            <div class="row">
                <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg"/>
            </div>
            <div class="row">
                <div class="data-local">14 Jul - Rondonópolis</div>
                <p>Novo terminal remoto do aeroporto de Fortaleza entra em operação</p>
            </div>

            <ul class="small-block-grid-3 padding-top">
                <li>
                    <a data-orbit-link="{{ noticia.id }}">
                        <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                    </a>
                </li>
                <li>
                    <a data-orbit-link="{{ noticia.id }}">
                        <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                    </a>
                </li>
                <li>
                    <a data-orbit-link="{{ noticia.id }}">
                        <img src="{{ STATIC_URL }}teste/05232014_montagem_capa.jpg">
                    </a>
                </li>
            </ul>
        </div>
        {#Fim da div galeria de fotos#}

        {#Vídeos#}
        <div class="row">
            <h1><a href="{% url 'conteudo:videos_lista' %}"><i class="fi-plus"></i> VÍDEOS</a></h1>
            {% for video in videos %}
                <div class="row">
                    {#                <div class="flex-video">#}
                    {#                    <iframe src="//www.youtube.com/embed/{{ video.video }}" frameborder="0"#}
                    {#                            allowfullscreen></iframe>#}
                    {#                </div>#}

                    <a href="{{ video.get_absolute_url }}">
                        <img src="//i1.ytimg.com/vi/{{ video.video }}/sddefault.jpg"/>
                    </a>
                </div>

                <div class="row">
                    <a href="{{ video.get_absolute_url }}">
                        <div class="data-local">{{ video.data_publicacao|date:"d M" }}
                            - {{ video.get_campus_origem_display }}</div>
                        <p>{{ video.titulo }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {#Fim da div vídeos#}

    </div>
    {#Fim da div da coluna à direita#}
    </div>
    {#Fim da div central para as 3 colunas#}

{% endblock %}