{% extends 'core/pagina.html' %}
   {% block navegacao %}
        <a href="{% url 'selecao' %}" class="title">Seleção</a>
   {% endblock navegacao %}

   {% block menulateral %}
        {%for label in nodes %}
            {% if label.parent %}
                <li><a href="?tipo={{ label.id }}{{ status }}{{ ano }}">{{ label.titulo }}</a></li>
            {% else %}
                <li><label>{{ label.titulo }}</label></li>
            {% endif%}
        {% endfor %}
   {% endblock menulateral %}


   {% block conteudo %}
        <titulo>{{ titulo }} | Vestibulares</titulo>
        <lista>
            <filtros>
                <a href="?{{ tipo }}status=ABT{{ ano }}">Abertos</a>
                <a href="?{{ tipo }}status=AND{{ ano }}">Em Andamento</a>
                <a href="?{{ tipo }}status=FNZ{{ ano }}">Finalizado</a>
                <ul class="menu">
                    <li><a href="?{{ tipo }}{{ status }}ano=2014">2014</a>
                        <ul>
                           <li><a href="?{{ tipo }}{{ status }}ano=2013">2013</a></li>
                           <li><a href="?{{ tipo }}{{ status }}ano=2012">2012</a></li>
                        </ul>
                    </li>
                </ul>
            </filtros>
            <table cellspacing="0">
                <tr>
                    <th class="data">Abertura</th>
                    <th class="data">Tipo</th>
                    <th class="data">Status</th>
                    <th>Editais</th>
                </tr>
                {% if lista %}
                    {% for item in lista %}
                    <tr>
                        <td class="data"><a href="{{ item.url }}" target="_blank">{{ item.data_abertura_edital|date:"d M Y" }}</a></td>
                        <td class="data"><a href="{{ item.url }}" target="_blank">{{ item.get_tipo_display }}</a></td>
                        <td class="data"><a href="{{ item.url }}" target="_blank">{{ item.get_status_display }}</a></td>
                        <td><a href="{{ item.url }}" target="_blank">{{ item.titulo }}</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="4"><center>Listagem Vazia</center></td></tr>
                {% endif %}
            </table>
        </lista>
   {% endblock conteudo %}